<div class="container">
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact Host</h4>
        </div>
        <div class="modal-body">

          <%= form_for Event.new, url: "/events/#{ticket.try(:event).try(:id)}/contact_email", method: "post", html: {id: "contact_form"} do |f| %>
          <div class="text-con">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Name *</label>
              <div class="col-sm-10">
                <%= f.text_field :name, required: true, class: "form-control", placeholder: "Enter Name" %>
                <!-- <input type="email" class="form-control" id="email" placeholder=""> -->
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Email *</label>
              <div class="col-sm-10">          
                <%= f.email_field :email, required: true, class: "form-control", placeholder: "Enter Email" %>
                <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password"> -->
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Phone No *</label>
              <div class="col-sm-10">          
                <div class="col-sm-4">
                <select class="form-control" name="countrySelectBox">
                  <option value="US">United States</option>
                  <option value="BG">Bulgaria</option>
                  <option value="BR">Brazil</option>
                  <option value="CN">China</option>
                  <option value="CZ">Czech Republic</option>
                  <option value="DK">Denmark</option>
                  <option value="FR">France</option>
                  <option value="DE">Germany</option>
                  <option value="IN">India</option>
                  <option value="MA">Morocco</option>
                  <option value="NL">Netherlands</option>
                  <option value="PK">Pakistan</option>
                  <option value="RO">Romania</option>
                  <option value="RU">Russia</option>
                  <option value="SK">Slovakia</option>
                  <option value="ES">Spain</option>
                  <option value="TH">Thailand</option>
                  <option value="AE">United Arab Emirates</option>
                  <option value="GB">United Kingdom</option>
                  <option value="VE">Venezuela</option>
                </select>
                </div>
                <div class="col-sm-8">
                  <%= f.text_field :phone, required: true, class: "form-control", placeholder: "Enter Phone No" %>
                </div>
                <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password"> -->
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-sm-2" for="pwd">Message *</label>
              <div class="col-sm-10">          
                <%= f.text_area :body, style:"min-height:150px;", required: true, class: "form-control", placeholder: "Enter Message" %>
                <!-- <input type="password" class="form-control" id="pwd" placeholder="Enter password"> -->
              </div>
            </div>
            <p>Your message will only be seen by the event organizer.</p>
            <div class="update-btn inline-block">
              <%= f.submit "Send", class: "btn btn-success btn-lg" %>
              <!-- <button type="button" class="btn btn-success btn-lg" onclick="$('#contact_form').submit();">
                <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> Send
              </button> -->
            </div>
            <div class="cancel-btn inline-block">
            <button type="button" class="btn btn-danger btn-lg" class="btn btn-default" data-dismiss="modal">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
            </button>

            </div>
          </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



<script>
$(document).ready(function() {
    $('#contact_form')
      .formValidation({
        framework: 'bootstrap',
        icon: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            'event[name]': {
                validators: {
                    notEmpty: {
                        message: 'The name is required'
                    },
                    stringLength: {
                        max: 50,
                        min: 2,
                        message: 'The Name must be greater than 2 and less than 50 characters long'
                    }
                }
            },
            'event[email]': {
                validators: {
                    notEmpty: {
                        message: 'The email address is required'
                    },
                    emailAddress: {
                        message: 'The input is not a valid email address'
                    }
                }
            },
            'event[body]': {
                validators: {
                    notEmpty: {
                        message: 'The Message Body is required and cannot be empty'
                    },
                    stringLength: {
                        max: 500,
                        min: 50,
                        message: 'The Message Body must be greater than 50 and less than 500 characters long'
                    }
                }
            },
            'event[phone]': {
                    validators: {
                        phone: {
                            country: 'countrySelectBox',
                            message: 'The value is not valid %s phone number'
                        }
                    }
                }
        }
    })
    // Revalidate phone number when changing the country
    .on('change', '[name="countrySelectBox"]', function(e) {
        $('#contact_form').formValidation('revalidateField', 'event[phone]');
    });

});
</script>