<link href="https://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>

<div class="container">
  <h2>Report Page</h2>
  <ul class="nav nav-tabs">
    <li class="<%= params[:report_category] == 'all' ? 'active' : '' %>"><a data-toggle="tab" href="#home">ALL Events</a></li>
    <% if @event.present? %>
      <li class="<%= params[:report_category] == 'current' ? 'active' : '' %>"><a data-toggle="tab" href="#menu1"><%= @event.name.try(:titleize) %></a></li>
    <% end %>
    <li class="<%= params[:report_category] == 'upcomming' ? 'active' : '' %>"><a data-toggle="tab" href="#menu2">Upcomming Events</a></li>
    <li class="<%= params[:report_category] == 'past' ? 'active' : '' %>"><a data-toggle="tab" href="#menu3">Past Events</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade <%= params[:report_category] == 'all' ? 'in active' : '' %>">
      <% if @events.present? %>
        <h3>All Events Report</h3>
        <% @events.each_with_index do |event, index| %>
          <%= render partial: "users/user_events_report", locals: {event: event} %>
        <% end %>
      <% else %>
        <h1>There Are no Events created by you</h1>   
      <% end %>
    </div>
    <div id="menu1" class="tab-pane fade <%= params[:report_category] == 'current' ? 'in active' : '' %>">
      <% if @event.present? %>
        <h3><%= @event.name.try(:titleize) %> Report</h3>
        <%= render partial: "users/user_events_report", locals: {event: @event} %>
      <% else %>
        <h1>Event Could Not Found</h1>
      <% end %>
    </div>
    <div id="menu2" class="tab-pane fade <%= params[:report_category] == 'upcomming' ? 'in active' : '' %>">
      <% if @upcomming_events.present? %>
        <h3>Upcomming Events Report</h3>
        <% @upcomming_events.each_with_index do |event, index| %>
          <%= render partial: "users/user_events_report", locals: {event: event} %>
        <% end %>
      <% else %>
        <h1>No Upcomming Events created by you</h1>
      <% end %>
    </div>
    <div id="menu3" class="tab-pane fade <%= params[:report_category] == 'past' ? 'in active' : '' %>">
      <% if @past_events.present? %>
        <h3>Past Events Report</h3>
        <% @past_events.each_with_index do |event, index| %>
          <%= render partial: "users/user_events_report", locals: {event: event} %>
        <% end %>
      <% else %>
        <h1>No Past Events created by you </h1>
      <% end %>
    </div>
  </div>
</div>
