<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="col-md-3 left-con">
      <div id="avatarImage_<%= @user.id %>">
        <%= render partial: "avatar_image", locals: {user: @user}  %>
      </div>
      <div class="center marg">
        <%= form_for @user, remote: true, html: {multipart: true} do |f| %>
          <%= f.file_field :image %>
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="image_change" value="true">
          <%= f.submit "Change Image", class: "btn btn-primary"  %>
        <% end %>
      </div>
      <div class="row"><button class="btn btn-primary btn-block" onclick="tabRequest(1);">View Profile</button></div>
      <div class="row"><button class="btn btn-primary btn-block" onclick="tabRequest(2);">Edit Profile</button></div>
      <div class="row"><button class="btn btn-primary btn-block" onclick="tabRequest(3);">Account Settings</button></div>
      <div class="row"><button class="btn btn-primary btn-block" onclick="tabRequest(4);">Delete Account</button></div>
      <div class="row"><button class="btn btn-primary btn-block" onclick="tabRequest(5);">Purchase Report</button></div>
    </div>
    <div class="col-md-9">
      <div class="userShow" id="userShow_<%= @user.id %>">
        <%= render partial: "user_profile_details", locals: {user: @user} %>
    </div>
  </div>  
  <div class="col-md-1"></div>
</div>
<div class="container">
  <button class="btn btn-success" onclick="tabRequest(6);">Upcoming Events</button>
  <button class="btn btn-danger" onclick="tabRequest(7);">Past Events</button>
  <hr>
  <div id="userEvents_<%= @user.id %>">
    <%= render partial: "user_events", locals: {events: @upcomming_events} %>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
    <%#= will_paginate @events %>
    </div>
  </div>	        
</div>

<style type="text/css">
  .marg
  {
    margin: 10px 0px;
  }
  .left-con
  {
    border: solid 2px black;
  }
</style>

<script type="text/javascript">
  function tabRequest(id){
    $.ajax({
      type:'GET',
      url: '/users/tabs',
      dataType: 'script',
      data: $.param({ tab: id, id: <%= @user.id %>})
    });
  };
</script>