<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h1>Order for 
            <a target="_blank" href="/events/<%= @ticket.event.try(:id) %>">
              <%= @ticket.event.try(:name).try(:titleize) %>
            </a>
          </h1>
        </div>
        <div class="col-md-12">
          <div class="col-md-4"><p><%= @ticket.ticket.pay_type %> order #<%= @ticket.order.try(:order_uid) %> on <%= @ticket.order.purchased_at.strftime('%b  %d, %y') %></p>
            <p><%= @ticket.event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') %>  &ndash;<br> <%= @ticket.event.end_time.strftime('%A, %B %d, %Y at %I:%M %p (%Z)') %></p>
            <p><%= @ticket.event.try(:city).try(:titleize) %></p></div>
          <div class="col-md-8"></div>
        </div>
        <div class="col-md-3 left-con" >
          <a href="javascript:void(0)" class="btn btn-primary btn-lg ticket_action">Print Tickets</a>
          <a href="javascript:void(0)" class="btn btn-danger btn-lg ticket_action" onclick="cancel_ticket();">Cancel Order</a>
          <a href="javascript:void(0)" class="btn btn-info btn-lg ticket_action">Contact The <br> Organizer</a>
        </div>
        <div class="col-md-9 ticket-con">
          <div class="row heading-block">
            <div class="col-md-10">
              <h3 class="text-heading-secondary">
                <%= @ticket.event.try(:name).try(:titleize) %>
              </h3>
            </div>
            <div class="col-md-2 edit-btn">
              <button type="button" class="btn btn-info btn-lg" onclick="$('#ticket_user_form').show();$('#ticket_user_details').hide();">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
              </button>
            </div>
          </div>
          <div id="ticket_user_details">
            <%= render partial: "ticket_user_details", locals: {ticket: @ticket} %>        
          </div>
          <div id="ticket_user_form"  style="display: none;">
            <%= render partial: "ticket_user_form", locals: {ticket: @ticket} %>        
          </div>
        </div>
      </div>
    </div>  
    <div class="col-md-12">
      <a href="/users/tickets_history" class="back_nav">
        <i class="ico-omnes-arrow-left"></i> 
        Back to Current Orders
      </a>
    </div>
  </div>  
  <div class="col-md-1">
  </div>
</div>

<script type="text/javascript">
  function cancel_ticket()
  {
    alertify.confirm( 'Are you sure you want to cancel this order? ', function (e) {
               
        if (e) {
          window.location.href = '/users/tickets_history?id=<%= @ticket.id %>';
        } else {
          
        }
    }); 
    $('.ajs-header').html("Cancel Free Order");
    // $('.ajs-button .ajs-ok').html("Yes, cancel this order");  
    // $('.ajs-button .ajs-cancel').html("No, nevermind");
  }
</script>