<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8"/>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<script>
try{
theViewer.defaultViewer = new theViewer.Viewer({});
}catch(e){}
</script>
<title></title>
</head>
<body>
		<div class="container">
      <% @random_codes.each_with_index do |rc, i| %>
        <div class="row" style="height:900px;, width:100%;">
          <div class="col-md-8">
            <div style="height:350px;">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td colspan="2"><p>Event</p><h1><%=@ticket.event.try(:name) %></h1></td>
                    <td><p>Payment Status</p><h3><%= @ticket.ticket.pay_type %></h3></td>
                  </tr>
                  <tr>
                     <td style="width:50% !important;"><p>Date+Time</p><h3><%= @ticket.event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') %>  &ndash;<br> <%= @ticket.event.end_time.strftime('%A, %B %d, %Y at %I:%M %p (%Z)') %></h3></td>
                     <td style="width:50% !important;"> <p>Location</p><h3><%= @ticket.event.city %></h3></td>
                    <td rowspan="2"><%= image_tag(Rails.root.join('public','qrcode',"qrcode_#{rc}.png")) %></td>
                  </tr>
                  <tr>                 
                    <td  colspan="2"><p>Order Info</p><h3>Order #<%= @ticket.order.try(:order_uid) %>. Ordered by <%= @ticket.order.try(:first_name) %>&nbsp<%= @ticket.order.try(:last_name) %> on <%= @ticket.order.purchased_at.strftime('%b  %d, %y') %></h3></td>
                  </tr>
                  <!-- <tr> 
                    <td  colspan="2"><p>Type</p><h3><%=@ticket.event.try(:name) %></h3></td>
                  </tr> -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
      <% end %>
    </div>
</body>
</html>

<style>

  tr{
     border: solid 4px grey;
  }


  .qr {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  width: 50%;
}
.qr td {
  border-width: 0;
  border-style: none;
  border-color: #0000ff;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 10px;
  height: 10px;
}
.qr td.black { background-color: #000; }
.qr td.white { background-color: #fff; }

  h1{
    font-size: 15px;
    font-weight: bold;
    float: right;
     margin:0;
    padding: 0px;
  }
  p
  {
    font-size: 12px;
    margin:0;
    padding: 0px;
  }
  h3
  {
    font-size: 10px; 
    font-weight: bold;
    float: right;
     margin:0;
    padding: 00px;
  }
</style>