
<div id="myCarousel" class="carousel slide" data-ride="carousel" style>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>  
  </ol>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="https://zermattresort.com/wp-content/uploads/2015/07/WilliamJoseph.jpg" alt="Chania">
     <div class="carousel-caption">
        <h1>My Event</h1>
        <h3>Find the best event from our site.</h3>
      </div>
    </div>
    <div class="item">
     <img src="http://coralspringsresort.com/wp-content/uploads/2015/12/Biking.jpg" alt="Chania">
     <div class="carousel-caption">
        <h1>My Event</h1>
        <h3>Find the best event from our site.</h3>
      </div>
    </div>
     <div class="item">
     <img src="http://coralspringsresort.com/wp-content/uploads/2015/12/Races.jpg" alt="Chania">
     <div class="carousel-caption">
        <h1>My Event</h1>
        <h3>Find the best event from our site.</h3>
      </div>
    </div>  
  </div>
  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script>
$(function() {
  $( "#start_date" ).datepicker({
      dateFormat: 'dd-mm-yy'
   });
  $( "#end_date" ).datepicker({
      dateFormat: 'dd-mm-yy'
   });

});
</script>
<div class="form-inline div-search" >      
  <%= form_tag  events_path, :method => :get do %>
    <div class="form-group">
    <%= select_tag 'category', options_for_select(Category.all.map{|el| [el.name, el.id]}), include_blank: "Select Category", :class=>"col-md-3 form-control li-text input " %>
    </div>
    <div class="form-group">
      <%= text_field_tag :distance, params[:distance], :class=>"col-md-3 form-control  li-text input", :placeholder=>"Enter Miles " %>
    </div>
    <div class="form-group">
      <%= text_field_tag :search, params[:search], :class=>" col-md-3 form-control  li-text input",  :placeholder=>"Enter Addreess for find event" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :start_date, params[:start_date],:id=>"start_date", :class=>" col-md-3 form-control  li-text input", :placeholder=>"Start date" %>
    </div>
    <div class="form-group">
      <%= text_field_tag :end_date, params[:end_date],  :id=>"end_date", :class=>" col-md-3 form-control  li-text input", :placeholder=>"End Date" %>
    </div>  
    <div class="form-group">
      <%= submit_tag "Search", :name => nil, :class=>"form-control li-button2 btn btn-success" %>
    </div>
  <% end %>  
</div>

<div class="center jumbotron">
      <div class="container">
           
            <h3>View our Latest Event </h3>
            <hr/>
            </br>
    </div>

        <!--Display Recipes-->
<div class="container">
 
 <% @events.each do |x| %>
        <div class="col-md-4 m-b-lg">
          <div class="panel panel-default panel-profile m-b-0">

                <%= image_tag(x.picture_url, class: "panel-recipe #{x.picture.blank? ? 'panel-border' : ''}") %>
                
            <div class="panel-body text-center">
                <section class="panel-profile-recipe-img">
              <%= link_to (image_tag (x.user.image), class: "gravatar", width: "40", height: "40"), user_path(x.user) %>
              
              </section>
              
              <h4><%= link_to x.name, event_path(x) %></h4>
              <h2 class="quiet"><%#= x.summary.split[0..4].join(" ") %></h2>
              
                  <div class>
                        <span class="icon icon-add-user"></span> <%= link_to 'View Event', event_path(x), class: "btn btn-success btn-small" %>
                    </div> 
                    
                <div class="thumbs">
                    <%= link_to like_event_path(x, like: true), method: :post do %>
                    <i class="white glyphicon glyphicon-thumbs-up">&nbsp<%= x.thumbs_up_total %></i>
                    <% end %> &nbsp&nbsp&nbsp&nbsp
                    <%= link_to like_event_path(x, like: false), method: :post do %>
                    <i class="white glyphicon glyphicon-thumbs-down">&nbsp<%= x.thumbs_down_total %></i>
                    <% end %>
                    
                </div> 
                </br>
               
                <div class="ingredient pull-left">
                <span style="color: #777">Categories: <%= render x.categories %></span>
                </div>
                    
              
              
            </div>
          </div>
        </div>
                    
                 
            
     <% end %>
     
     <!--pagination on bttom -->
      <div class="row">
        <div class="col-md-4 col-md-offset-4 center">
        
        </div>
      </div>
    
</div>

<!--Recipes ends-->
</div>





<!--Display Organizer-->
 <div class="container center">
           
            <h3>View our Latest Organizers </h3>
            <hr/>
            </br>
    </div>

        <!--Display Chefs-->
<div class="container">
    
    
<%# @users.each_slice(3) do |works| %>
<div class="container">
<div class="row">
    <% @users.each do |x| %>
        <div class="col-md-4 m-b-lg">
          <div class="panel panel-default panel-profile m-b-0">
            <!--<div class="panel-heading" style="background-image: url(http://greatist.com/sites/default/files/styles/big_share/public/Tag_HealthyRecipes.png?itok=tKgJ8R2O);"></div>-->
            <div class="panel-heading"></div>

            <div class="panel-body text-center">
                <section class="panel-profile-img">
              <%#= link_to gravatar_for(x, size: 100), user_path(x) %> 
              <%= link_to (image_tag (x.image), class: "gravatar", width: "100", height: "100"), user_path(x) %>
              </section>
              <h2><%= x.username %></h2>
                <span class="icon icon-add-user"></span> <%= link_to 'View Organizer', user_path(x), class: "btn btn-success btn-small" %>
              </a>
            </div>
          </div>
        </div>
        <% end %>
        
      </div>
      <%# end %>
      </div>

</div>










<!--Display Categories-->
<div class="center jumbotron">
<div class="container">
<div class="row">

        <div class="container">
        			<div class="row margin-bottom-30 home-category">
        				<h2>Browse by Top Categories</h2>
        				<hr/>
        				<div class="col-md-8 col-sm-8 col-xs-12">
        					<a class="category-card category-family-education" href="#">
        						<div class="category-card__wrapper">
        							<div class="category-card__tint">
        								<div class="category-card__image"></div>
        							</div>
        							<div class="category-card__text-wrapper">
        								<h4 class="category-card__label l-padded-h-2 text-large text-body--significant text-heading--emphasized">
        									Educational &amp; Lectures
        								</h4>
        								<p class="category-card__desc l-block-2 l-padded-h-2 text-body text-heading--emphasized">
        									Schools, colleges, community meetups, 
        								</p>
        							</div>
        						</div>
        					</a>
        				</div>
        				<div class="col-md-4 col-sm-4 col-xs-12">
        					<a class="category-card category-food" href="#">
        						<div class="category-card__wrapper">
        							<div class="category-card__tint">
        								<div class="category-card__image"></div>
        							</div>
        							<div class="category-card__text-wrapper">
        								<h4 class="category-card__label l-padded-h-2 text-large text-body--significant text-heading--emphasized">
        									Food &amp; Drink
        								</h4>
        								<p class="category-card__desc l-block-2 l-padded-h-2 text-body text-heading--emphasized">
        									Community food parties, Food festivals, Eids..
        								</p>
        							</div>
        						</div>
        					</a>
        				</div>				
        			</div>
        			
        			<div class="row margin-bottom-30">
        				<div class="col-md-4 col-sm-4 col-xs-12">
        					<a class="category-card category-community" href="#">
        						<div class="category-card__wrapper">
        							<div class="category-card__tint">
        								<div class="category-card__image"></div>
        							</div>
        							<div class="category-card__text-wrapper">
        								<h4 class="category-card__label l-padded-h-2 text-large text-body--significant text-heading--emphasized">
        									Community
        								</h4>
        								<p class="category-card__desc l-block-2 l-padded-h-2 text-body text-heading--emphasized">
        									Cummunity gathering, Halaqah.
        								</p>
        							</div>
        						</div>
        					</a>
        				</div>
        				<div class="col-md-4 col-sm-4 col-xs-12">
        					<a class="category-card category-business" href="#">
        						<div class="category-card__wrapper">
        							<div class="category-card__tint">
        								<div class="category-card__image"></div>
        							</div>
        							<div class="category-card__text-wrapper">
        								<h4 class="category-card__label l-padded-h-2 text-large text-body--significant text-heading--emphasized">
        									Business
        								</h4>
        								<p class="category-card__desc l-block-2 l-padded-h-2 text-body text-heading--emphasized">
        									Business meetings, entrepreneurship, leadership.
        								</p>
        							</div>
        						</div>
        					</a>
        				</div>
        				<div class="col-md-4 col-sm-4 col-xs-12">
        					<a class="category-card category-health" href="#">
        						<div class="category-card__wrapper">
        							<div class="category-card__tint">
        								<div class="category-card__image"></div>
        							</div>
        							<div class="category-card__text-wrapper">
        								<h4 class="category-card__label l-padded-h-2 text-large text-body--significant text-heading--emphasized">
        									Health
        								</h4>
        								<p class="category-card__desc l-block-2 l-padded-h-2 text-body text-heading--emphasized">
        									Bike riding, hiking, swimming, gym, yoga
        								</p>
        							</div>
        						</div>
        					</a>
        				</div>			
        			</div>
        			
        			
        			
        			<div class="row margin-bottom-30">
        				<div class="col-md-4 col-sm-4 col-xs-12">
        					<a class="category-card category-charity-causes" href="#">
        						<div class="category-card__wrapper">
        							<div class="category-card__tint">
        								<div class="category-card__image"></div>
        							</div>
        							<div class="category-card__text-wrapper">
        								<h4 class="category-card__label l-padded-h-2 text-large text-body--significant text-heading--emphasized">
        									Charity &amp; Causes
        								</h4>
        								<p class="category-card__desc l-block-2 l-padded-h-2 text-body text-heading--emphasized">
        									Fundraising dinner, chaity and causes
        								</p>
        							</div>
        						</div>
        					</a>
        				</div>
        				<div class="col-md-4 col-sm-4 col-xs-12">
        					<a class="category-card category-sports-fitness" href="#">
        						<div class="category-card__wrapper">
        							<div class="category-card__tint">
        								<div class="category-card__image"></div>
        							</div>
        							<div class="category-card__text-wrapper">
        								<h4 class="category-card__label l-padded-h-2 text-large text-body--significant text-heading--emphasized">
        									Film &amp; Media
        								</h4>
        								<p class="category-card__desc l-block-2 l-padded-h-2 text-body text-heading--emphasized">
        									empower muslim community by media 
        								</p>
        							</div>
        						</div>
        					</a>
        				</div>
        				<div class="col-md-4 col-sm-4 col-xs-12">
        					<a class="category-card category-science-technology" href="#">
        						<div class="category-card__wrapper">
        							<div class="category-card__tint">
        								<div class="category-card__image"></div>
        							</div>
        							<div class="category-card__text-wrapper">
        								<h4 class="category-card__label l-padded-h-2 text-large text-body--significant text-heading--emphasized">
        									Science &amp; Technology
        								</h4>
        								<p class="category-card__desc l-block-2 l-padded-h-2 text-body text-heading--emphasized">
        									Media, IT, Smart phones, tablets
        								</p>
        							</div>
        						</div>
        					</a>
        				</div>			
        			</div>
        			
        		
        	
        </div>


























    <div class="col-lg-4">
        <h3 class="midrow"> View Events as Guest User</h3>
        <h2 class="midrow">Browse and view Event as a guest and Sign up later</h2>
        <p><%= link_to 'Browse Events Listing', events_path, class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow"> View Events as Guest User</h3>
        <h2 class="midrow">Browse and view event as a guest and Sign up later</h2>
        <p><%= link_to 'Browse Events Listing', "", class: "btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
        <h3 class="midrow"> View Events as Guest User</h3>
        <h2 class="midrow">Browse and view events as a guest and Sign up later</h2>
        <p><%= link_to 'Browse Event Listing', "", class: "btn btn-warning btn-small" %></p>
    </div>
</div>
</div>
</div>


