
<% if @event.errors.any? %>
  <div class="row">
    <div class="alert alert-danger col-md-8 col-md-offset-2">
      <h5>Please correct the following errors:</h5>
      <ul>
        <% @event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<div class="row">
    <div class="well col-md-8 col-md-offset-2">
      
       <%= nested_form_for @event do |f| %>

   <div class="form-group col-md-6">
    <label for="name">Name</label>
    <%= f.text_field :name, :class=>"form-control" %>
   </div>
        
   <div class="form-group col-md-6">
    <label for="name">Summary</label>
    <%= f.text_field :summary, :class=>"form-control" %>
   </div>

    <div class="form-group col-md-12">
    <label for="name">Description</label>
    <%= f.text_area :description, :class=>"form-control",rows:5 %>
   </div>

    <div class="form-group col-md-12">
    <label for="name">Address</label>
    <%= f.text_field :address, :class=>"form-control" %>
   </div>
        
   <div class="form-group col-md-4">
    <label for="name">City</label>
    <%= f.text_field :city, :class=>"form-control" %>
   </div>
   <div class="form-group col-md-4">
    <label for="name">State</label>
    <%= f.text_field :state, :class=>"form-control" %>
   </div>
        
    <div class="form-group col-md-4">
    <label for="name">Zip Code</label>
    <%= f.text_field :zipcode, :class=>"form-control" %>
   </div>
        
     
        <%#= f.label :is_paid, "Paid", :value => "Paid"  %>
        <%#= f.radio_button :is_paid, true, :checked => true %>
        <%#= f.label :is_paid, "Free", :value => "Free" %>
        <%#= f.radio_button :is_paid, false%>
           
    <div class="form-group col-md-4">
    <label for="name">Country</label>
    <%= f.text_field :country, :class=>"form-control" %>
    </div>    
        
    <div class="form-group col-md-4">
    <label for="name">Event Start Date </label>
    <%= f.text_field :start_time,:id=>"start_date",:class=>"form-control" %>
    </div>
        
  <div class="form-group col-md-4">
    <label for="name">Event End Date </label>
    <%= f.text_field :end_time,:id=>"end_date",:class=>"form-control" %>
    </div>
    <div class="form-group col-md-12">
         <label for="name">Categories List :-</label></div>
        <%= f.collection_check_boxes :category_ids, Category.all, :id, :name do |v| %>
        <div class="form-group col-md-3">
         <%= v.label(class: "checkbox-inline input_checkbox") {v.check_box(class: "checkbox") + v.text }%>
       </div>
        
        <% end %>
       
        <hr/>

    <div class="form-group col-md-6">
    <label for="name">Picture</label>
    <%= f.file_field :picture, accept: "image/jpg, image/jpeg, image/png, image/gif" %>
    </div>
    <div class="form-group col-md-6">
    <label for="name">Video</label>
     <%= f.file_field :video %>
    </div>

    <div class="form-group col-md-12">
    <label for="name">Youtube Video</label>
       <%= f.text_field :youtube_video, :class=>"form-control" %>
    </div>
         
    <div class="form-group col-md-12">
    <label for="name">Vimeo Video</label>
       <%= f.text_field :vimeo_video, :class=>"form-control" %>
    </div>
    <br>
            <h3>Step-2 | Add Schedules</h3>
            
            <div class="nested_form jumbotron col-md-12">
              <%= f.fields_for :schedules do |schedule_form| %>

           <div class="form-group col-md-12">
           <label for="name">Title</label>
           <%= schedule_form.text_field :title, :class=>"form-control" %>
           </div>

            <div class="form-group col-md-12">
           <label for="name">Upload Image</label>
           <%=  schedule_form.file_field :image, :class=>"form-control" %>
           </div>

            <div class="form-group col-md-12">
           <label for="name">Description</label>
           <%=  schedule_form.text_area :description, :class=>"form-control",row:5 %>
           </div>

             <div class="form-group col-md-6">
           <label for="name">Start Time</label>
           <%=  schedule_form.text_field :start_time,:id=>"start_time",:class=>"form-control"   %>
           </div>

             <div class="form-group col-md-6">
           <label for="name">End Time</label>
           <%=  schedule_form.text_field :end_time,:id=>"end_time",:class=>"form-control" %>
           </div>
              
            <div class="form-group col-md-12">
          <%= schedule_form.link_to_remove "Remove this Schedules" %>
           </div> 
             
              <% end %>
            <div class="form-group col-md-12">
           <%= f.link_to_add "Add a Schedules", :schedules %>
           </div> 
            </div>
      <br>


               <h3> Step-3 | Add Ticket </h3>

             <div class="nested_form jumbotron">



        <%= f.fields_for :tickets do |ticket_form| %>
           
           <div class="form-group col-md-6">
           <label for="name">Ticket Name</label>
           <%= ticket_form.text_field :name, :class=>"form-control" %>
           </div>
           <div class="form-group col-md-6">
           <label for="quantity">Quantity available*</label>
            <%= ticket_form.text_field :quantity, :class=>"form-control" %>
           </div>

            


  <input onclick="document.getElementById('price').disabled = false; document.getElementById('charstype').disabled = true;" type="radio" name="type">wanna price url?
  <!-- <input type="text" name="price" id="price" placeholder="should be 5 charecters at least" >
  <br> --><br>
  <input onclick="document.getElementById('price').disabled = true; document.getElementById('charstype').disabled = false;" type="radio" name="type" value="customurl">random?

  <select name="charstype" id="charstype" disabled="disabled">
                <option>Letters</option>
                <option>Number</option>
  </select>
<br>
           <div class="form-group col-md-12">
           <label for="price">Price</label>
            <%= ticket_form.number_field :price, :id=>"price", :class=>"form-control" %>
            
           </div>
               
          <div class="form-group col-md-12">
           <label for="ticket_description">Ticket Description</label>
            <%= ticket_form.text_area :ticket_description, :class=>"form-control",row:5%>
           </div>
                
             <div class="form-group col-md-6">
           <label for="show_ticket_description">Show Ticket Description</label>
            <%= ticket_form.check_box :show_ticket_description, :class=>"form-control" %>
           </div>
      

       
            <div class="form-group col-md-6">
            <label for="sel1">Sales Channel (How will your attendees get tickets?)</label>
            <%= ticket_form.select :sale_channel, [['Every where', 'Everywhere'], ['Online only', 'Onlineonly'], ['At the door only', 'dooronly']] %>
          </div> 
          <div class="form-group col-md-6">
           <label for="tickets_start_date">Ticket Sales Start</label>
            <%= ticket_form.text_field :tickets_start_date, :class=>"form-control" %>
           </div>
            <div class="form-group col-md-6">
           <label for="ticket_end_date">Ticket Sales End</label>
            <%= ticket_form.text_field :ticket_end_date, :class=>"form-control" %>
           </div>
     
         <div class="form-group col-md-6">
            <label for="sel1">Sales Channel (How will your attendees get tickets?)</label>
            <%= ticket_form.select :country, [['United States', 'US'], ['Argentina', 'AR'], ['Australia', 'Au']] %>
          </div>           

          <div class="form-group col-md-6">
            <label for="sel1">Sales Channel (How will your attendees get tickets?)</label>
            <%= ticket_form.select :currency, [['U.S. Dollars $', 'Dollars'], ['Canadian Dollars C$', 'C$'], ['Mexican Peso Mex$', 'MXN']] %>
          </div> 


                <%= ticket_form.link_to_remove "Remove this Ticket" %>
              <% end %>
            <p><%= f.link_to_add "Add a Ticket", :tickets %></p>
            </div>

    <h3>Additional Settings</h3>
      <div class="form-group inline-form col-md-12 ">
        <%= f.label :event_privacy, "Public :-list this event on Eventbrite and search engines", :value => "Public"  %>
        <%= f.radio_button :event_privacy, true, :checked => true %> 
        <%= f.label :event_privacy, "Private :-do not list this event publicly", :value => "Private" %>
        <%= f.radio_button :event_privacy, false %><label for="sel1"></label>
        </div>
        

          <div class="form-group col-md-12">
            <label for="sel1">Event Type</label>
            <%= f.select :event_type, [['Appearance or Signing', 'AppearanceorSigning'], ['Attraction', 'Attraction'], ['Camp, Trip, or Retreat', 'CampRetreat']] %>
          </div>
          <div class="form-group col-md-12">
            <label for="sel1">Event Topic</label>
            <%=f.select :event_topic, [['Auto, Boat & Air', 'AutoAir'], ['Business & Professional', 'BusinessProfessional'], ['Charity & Causes', 'CharityCauses']] %>
          </div>
          <%= f.submit class: "btn btn-success" %>
        <% end %>


    </div>
</div>


<script type="text/javascript">
  $('#event_picture').bind('change', function() {
    size_in_megabytes = this.file[0].size/1024/1024;
    if(size_in_megabytes > 5) {
      alert('Maximum size allowed is 5MB, please resize your image');
    }
  });
</script>
  <script>
  $(function() {
    $( "#start_date" ).datepicker({
        dateFormat: 'dd-mm-yy'
     });
    $( "#end_date" ).datepicker({
        dateFormat: 'dd-mm-yy'
     });
  });
 
  </script>

<style type="text/css">
  

 .nested_form label
 {
    font-size: 14px; 
 }

</style>



