<div id="tab3">
  <div class="col-xs-12 content_2">
    <div class="col-lg-10 col-lg-offset-1 col-md-12">
      <div class="wide-2">
        <% events .each do |i| %>
          <div class="row white">
            <a href = "/events/<%= i.id %>">
              <div class="col-md-3 col-sm-3 prp-img">
                <div class="exp-img-2" style="background-image:url(<%= i.bgpicture_url %>);background-size: cover;">
                  <span class="filter"></span>
                  <span class="ffs-bs"><label for="op" class="btn btn-small btn-primary">browse photos</label></span>
                  <div class="overlay">
                    <div class="img-counter"><%= i.pictures.count %> Photo</div>
                  </div>
                </div>
              </div>
              <div class="item-info col-lg-7 col-md-6 col-sm-6">
                <h4><%= i.name.try(:titleize) %></h4>
                <p class="team-color"><%= i.address %></p>
                <div class="block">
                  <div class="col-md-3 col-sm-3 col-xs-3 cat-img">
                    <span class="glyphicon glyphicon-calendar glf-icon"></span>Begin From
                    <p style="text-align:center" class="info-line"><%= i.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %></p>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 cat-img">
                    <span class="glyphicon glyphicon-calendar glf-icon"></span>Finish At
                    <p style="text-align:center" class="info-line"><%= i.end_time.strftime('%A, %B %d, %Y at %I:%M %p')  rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %></p>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 cat-img">
                    <img src="http://themes.fruitfulcode.com/suburb/assets/img/square.png" alt="">
                    <p class="info-line"><%= i.distance_from([latlong[:lat],latlong[:long]]).round(2)%> Km<span class="rank"></span></p>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3 cat-img">
                    <img src="http://themes.fruitfulcode.com/suburb/assets/img/garage.png" alt="">
                    <p class="info-line"><%= i.interests.count %> Interested to attand this event</p>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 line"></div>
                <div class="col-md-3 col-sm-3 col-xs-3 line"></div>
                <div class="col-md-3 col-sm-3 col-xs-3 line"></div>
                <div class="col-md-3 col-sm-3 col-xs-3 line"></div>
                <hr>
                <p><b><%= truncate(i.description, length: 200, separator: ' ') %></b></p>
              </div>
            </a>
            <div class="item-price col-lg-2 col-md-3 col-sm-3 col-xs-12">
              <div class="sum col-sm-12 col-xs-6">
                <p style="color:black">$<%= i.payMode("amount") rescue "Something Wrong" %></p>
                <p class="team-color" style="text-align:center""><%= i.payMode("string") rescue "Something Wrong" %></p>
              </div>
              <span style="text-align: center !important" class="ffs-bs col-xs-12 btn-half-wth view"><a style="padding:10px" href = "/events/<%= i.id %>" class="btn btn-primary"><span class="glyphicon glyphicon-camera" style="padding: 0 10px 0 0 !important;"></span>View</a></span>
              <div class="sum favorite col-sm-12 col-xs-6">
                <div style="text-align:center">
                  <a href="javascript:void(0)" data-toggle="modal" data-target="#myModal_<%= i.id %>"><span class="glyphicon glyphicon-share" style="color:black !important; font-size:20px;font-weight:bold" title="Share"></span></a>
                  <a data-remote="true" href="<%=add_wishlist_event_path(i.id) %>"><span class="glyphicon <%= i.wish_list_class(current_user.id) %>" id="wish_list_<%= i.id %>" style="font-size:20px;font-weight:bold" title="Save" ></span></a>
                </div>
                <p class="col-xs-3"></p>
              </div>
            </div>
          </div>
          <%= render partial: "share", locals: { event: i } %>
        <% end %>
      </div>  
      <!-- end wide-2 -->
    </div>
  </div>                  
</div>

<style type="text/css">
  .view .btn {
    margin: 0px !important;
  }
</style>