
<% if events.present? %>
	<% events[1..-1].each_with_index do |event, index| %>
	  <div class="item">
		  <div class="titleHeader">
	      <div class="col-md-10 col-md-offset-1">
	      <h1><%= event.name.try(:titleize) %></h1>
	      <h3><%= event.try(:address) %></h3>
	      <h3><%= @event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %> To <%= @event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %></h3>
	      <h3><%= event.payMode("string") rescue "Something Wrong" %> $<%= event.payMode("amount") rescue "Something Wrong" %></h3>
	      <a href="/events/<%= event.id %>" class="btn btn-success btnSetting">View Event</a><a class="btn btn-primary btnSetting" href="javascript:voide(0)" onclick="$(this).parent().parent().css('z-index','-99999999')">Watch Videos</a>
	      </div>
	    </div>
	  	<div class="rvs-container rvs-red-highlight rvs-bordered-circle-play", style="height:350px;">
			  <div class="rvs-item-container">
			    <div class="rvs-item-stage">
			      <% if event.videos.present? %>
				      <% event.videos.each do |v| %>   
				        <% video = VideoInfo.new("http://www.youtube.com/watch?v=mZqGqE0D0n4") %>
				        <div class="rvs-item" style="background-image: url(<%= video.thumbnail_large %>)">
				          <p class="rvs-item-text"><%= video.try(:title) %> <small>by <%= video.try(:author) 	rescue "Author Not Found" %></small></p>
				          <a href="<%=v.video_url%>" class="rvs-play-video"></a>
				        </div>
				      <% end %>
			      <% else %>
			      	<div class="rvs-item" style="background-image: url(http://www.hfsinternationalpowai.com/img/no-video.gif); background-size: 100% 350px !important; background-repeat: no-repeat;">
			        </div>
			      <% end %>
			    </div>
			  </div>
			  <div class="rvs-nav-container">
			    <a class="rvs-nav-prev"></a>
			    <div class="rvs-nav-stage">
			      <% event.videos.each do |v|  %>
			        <% video = VideoInfo.new(v.video_url) %>
			        <a class="rvs-nav-item">
			          <span class="rvs-nav-item-thumb" style="background-image: url(<%= video.thumbnail_small %>)"></span>
			          <h4 class="rvs-nav-item-title"><%= video.try(:title) %></h4>
			          <small class="rvs-nav-item-credits">by <%= video.try(:author) rescue "Author Not Found" %></small>
			        </a>
			      <% end %>
			    </div>
			    <a class="rvs-nav-next" style="background:red; z-index:9999"></a>
			  </div>
			</div>
			<script>
			  jQuery(function($){
			    $(".rvs-container").rvslider();
			  });
			</script>	
	  </div>
	<%end%>
<% end %>