
<% if event.present?  %>
  <% unless params[:action] == "show" %>
    <div class="titleHeader">
      <div class="col-md-10 col-md-offset-1">
      <h1><%= event.name.try(:titleize) %></h1>
      <h3><%= event.try(:address) %></h3>
      <h3><%= @event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %> To <%= @event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %></h3>
      <h3><%= event.payMode("string") rescue "Something Wrong" %> $<%= event.payMode("amount") rescue "Something Wrong" %></h3>
      <a href="/events/<%= event.id %>" class="btn btn-success btnSetting">View Event</a><a class="btn btn-primary btnSetting" href="javascript:voide(0)" onclick="$(this).parent().parent().css('z-index','-99999999')">View Images</a>
      </div>
    </div>
  <% end %>
  <div id="owl-example_<%= event.id %>" class="owl-carousel" >
    <% if event.pictures.present? %>
      <% event.pictures.each do |picture| %>
        <div class="item">
          <div class="image" style="background-image: url(<%= picture.image.url  %>)"></div>
        </div>
      <% end %>
    <% else %>
      <div class="item">
        <div class="image" style="background-image: url(http://cdn.iruni.ir/upload/noimage.jpg); background-size: 100% 350px !important; background-repeat: no-repeat;"></div>
      </div>
    <% end %>
  </div>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#owl-example_<%= event.id %>").owlCarousel({
            items : <% if event.pictures.present? %>2<% else %>1<% end %>,
            itemsCustom : false,
            // itemsDesktop : [1199,4],
      });
    });
  </script>
<% end %>


