<div class="well">

  <div class="row">
    <div class="col-xs-7">
      <h4><%= ticket.name %></small></h4>
    </div>
    <div class="col-xs-5">
      
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green">
        <%= number_to_currency ticket.price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <%= f.hidden_field :ticket_id, value: ticket.id %>
            <%= f.hidden_field :event_id, value: event.id %>

            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>