<div class="well">

  <div class="row">
    <div class="col-xs-10">
      <h4><%= ticket.name.try(:titleize) %></h4>
      <p><%= ticket.ticket_description.present? ? ticket.ticket_description : "No description available for this ticket" %></p>
      <div class="row">
        <div class="col-md-3"><b><h5>Total Tickets</h5></b></div><div class="col-md-3"><%= ticket.quantity %></div>
        <div class="col-md-3"><b><h5>Available Tickets</h5></b></div><div class="col-md-3"><%= ticket.available_count %></div>        
      </div>
      <div class="row">
        <div class="col-md-3"><b><h5>Sale Start From</h5></b></div><div class="col-md-3"><%= ticket.tickets_start_date.strftime('%A, %B %d, %Y at %I:%M %p (%Z)') rescue ''%></div>       
        <div class="col-md-3"><b><h5>Sale Till</h5></b></div><div class="col-md-3"><%= ticket.ticket_end_date.strftime('%A, %B %d, %Y at %I:%M %p (%Z)') rescue '' %></div>
      </div>
    </div>
    <div class="col-xs-2" id="ticket_cart_<%= ticket.id %>">
      <%= render partial: "ticket_cart", locals: {cart: @cart, ticket: ticket} %>     
    </div>
    
  </div>
</div>

<!-- <script type="text/javascript">
  $("#addCart_<%= ticket.id %>").submit(function(e){
    // if ($('#quantity').val == )
    if ($('#quantity_<%= ticket.id %>').val();> <%#= current_user.carts.where(cartable_id: ticket.id, cartable_type: "Ticket").first.quantity %> )
    {
      e.preventDefault()
      alert("You can not add more than <%= ticket.available_count %>");
      return false
    }
    else
    {
      return true
    }
})
</script>
 -->