<div class="well">

  <div class="row">
    <div class="col-xs-10">
      <h4><%= ticket.name.try(:titleize) %></h4>
      <p><%= ticket.ticket_description.present? ? ticket.ticket_description : "No description available for this ticket" %></p>
      <div class="row">
        <div class="col-md-3"><b><h5>Total Tickets</h5></b></div><div class="col-md-3"><%= ticket.quantity %></div>
        <div class="col-md-3"><b><h5>Available Tickets</h5></b></div><div class="col-md-3">10</div>        
      </div>
      <div class="row">
        <div class="col-md-3"><b><h5>Country</h5></b></div><div class="col-md-3"><%= ticket.country %></div>
        <div class="col-md-3"><b><h5>Currency</h5></b></div><div class="col-md-3"><%= ticket.currency %></div>
      </div>
      <div class="row">
        <div class="col-md-3"><b><h5>Sale Start From</h5></b></div><div class="col-md-3"><%= ticket.tickets_start_date.strftime('%A, %B %d, %Y at %I:%M %p (%Z)') rescue ''%></div>       
        <div class="col-md-3"><b><h5>Sale Till</h5></b></div><div class="col-md-3"><%= ticket.ticket_end_date.strftime('%A, %B %d, %Y at %I:%M %p (%Z)') rescue '' %></div>
      </div>
      <div class="row">
        <div class="col-md-3"><b><h5>Sale Channel</h5></b></div><div class="col-md-9"><%= ticket.sale_channel %></div>
      </div>
    </div>
    <div class="col-xs-2">
      
      <%= form_for order_item, remote: true do |f| %>
      <h4 class="text-right">Unit Price: <span style="color: green">
        <%= number_to_currency ticket.ticket_price %></span></h4>
        <div class="input-group">
          <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <%= f.hidden_field :ticket_id, value: ticket.id %>
            <%= f.hidden_field :event_id, value: event.id %>

            <%= f.submit "Add to Cart", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    
  </div>
</div>