
<header id="myCarousel" class="carousel slide">

        
         <div class="carousel-inner">
            <div class="item active">
                <% @events.limit(1).each do |event|%>
                       <%= image_tag event.picture, :class =>"fill" %>
                
                <% end %>
            </div>
              <% @events.each_with_index do |event, index|%>
            <div class="item">
                       <%= image_tag event.picture, :class =>"fill" %>
                    
         </div>
            <% end %>
        </div> 

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
 
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="assets/css/style.css" type="text/css">


<body class="page-search" id="page-top">
  <!-- Preloader -->
  <div >
    <div class="loader-ring"></div>
    <div class="loader-ring2"></div>
  </div>
  <!-- End Preloader -->

  <!-- Wrapper -->
  <div class="wrapper">
    <!-- Start Header -->
    <div id="header"></div>
    <!-- End Header -->

    <!-- Page Content -->
    <div id="page-content-search">
      <div class="container">
        <div class="wide_container_2">
          <div class="tabs">
            <header class="col-md-8 col-xs-12 no-pad">
                <div class="location-map col-sm-4 col-xs-4">
                  <div class="input-group">
                    <input type="text" class="form-control" id="address-map" name="address" placeholder="Manhattan, New York" autocomplete="off">
                    <i class="fa fa-search"></i>
                  </div>
                </div>
                <div class="select-block col-sm-2 col-xs-2">
                  <select class="selection selectized" tabindex="-1" style="display: none;"><option value="Beds" selected="selected"></option></select><div class="selectize-control selection single"><div class="selectize-input items full has-options has-items"><div data-value="Beds" class="item">Beds</div><input type="text" autocomplete="off" tabindex="" readonly="readonly" style="width: 4px; opacity: 0; position: absolute; left: -10000px;"></div><div class="selectize-dropdown selection single" style="display: none; visibility: visible; width: 142px; top: 48px; left: 0px;"><div class="selectize-dropdown-content"><div data-value="1" data-selectable="" class="option">1</div><div data-value="2" data-selectable="" class="option">2</div><div data-value="3" data-selectable="" class="option">3</div><div data-value="Beds" data-selectable="" class="option selected">Beds</div></div></div></div>
                </div>
                <div class="select-block col-sm-2 col-xs-2 ">
                  <select class="selection selectized" tabindex="-1" style="display: none;"><option value="For Rent" selected="selected"></option></select><div class="selectize-control selection single"><div class="selectize-input items full has-options has-items"><div data-value="For Rent" class="item">For Rent</div><input type="text" autocomplete="off" tabindex="" readonly="readonly" style="width: 4px; opacity: 0; position: absolute; left: -10000px;"></div><div class="selectize-dropdown selection single" style="display: none; visibility: visible; width: 142px; top: 48px; left: 0px;"><div class="selectize-dropdown-content"><div data-value="For Rent" data-selectable="" class="option selected">For Rent</div><div data-value="For Sale" data-selectable="" class="option">For Sale</div><div data-value="Type" data-selectable="" class="option">Type</div></div></div></div>
                </div>
                <div class="select-block col-md-3 col-xs-4 last">
                  <a class="options-button" id="toggle-link">More Filters</a>
                </div>
                <div class="options-overlay col-md-offset-4 col-sm-offset-5 col-sm-7" id="hidden_content" style="display: none;">
                  <div class="row">
                    <div class="col-xs-6 top-mrg">
                      <div class="internal-container features">
                        <div class="form-group">
                          <label>Minimum Square Footage:</label>
                          <input type="text" class="form-control" placeholder="Enter an Amount">
                        </div>
                        <label>Building Features:</label>
                        <section class="block">
                          <section>
                            <ul class="submit-features">
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Elevator</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Gym</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Pool</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Lorem Ipsum</label></div></li>
                            </ul>
                          </section>
                        </section>
                      </div>
                    </div>
                    <div class="col-xs-6 top-mrg">
                      <div class="internal-container features">
                        <label>Property Features:</label>
                        <section class="block">
                          <section>
                            <ul class="submit-features">
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Air conditioning</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Balcony</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Garage Internet</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Dishwasher</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Washer Mashine</label></div></li>
                              <li><div class="checkbox"><label><div class="icheckbox"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>Some Lorem Ipsum</label></div></li>
                            </ul>
                          </section>
                        </section>
                      </div>
                    </div>
                  </div>
                  </div><!-- options-overlay -->
              </header>
            <ul class="tab-links col-md-4 col-xs-12">
              <li class="col-lg-3 col-lg-offset-2 col-md-4 col-xs-4 no-pad active"><a href="#tab1" class="map2"><img src="assets/img/map.png" alt=""/>Map</a></li>
              <li class="col-lg-3 col-md-4 col-xs-4 no-pad"><a href="#tab2"><img src="assets/img/grid.png" alt=""/>Grig</a></li>
              <li class="col-lg-3 col-md-4 col-xs-4 bdr-rgh no-pad"><a href="#tab3"><i class="fa fa-th-list"></i>List</a></li>
            </ul>
            <!-- tab-links -->
            <div class="tab-content">
              <div id="tab1" class="tab" style="display: block;">
                <div class="sidebar col-sm-4 col-xs-12">
                  <!-- <div id="map"></div> -->
                    <div id="googleMap" style="width:100%"></div>
                </div>
                <div class="content col-sm-8 col-xs-12">
                  <div class="wide-2">
                    <div class="col-xs-12">
                      <div class="row event-container">
                      <% @events.each do |x| %>
                        <div class="col-md-4 col-sm-6 col-xs-6 prop">
                          <div class="wht-cont">
                            <div class="exp-img-2">
                              <%= image_tag(x.picture_url, class: "panel-recipe #{x.picture.blank? ? 'panel-border' : ''}", height: "195") %>
                              <!-- <div class="overlay">
                                <div class="img-counter">
                                <%#= link_to 'Event Details', event_path(x)  %>
                                </div>
                              </div> -->
                            </div>
                            <div class="item-title">
                              <h4><a href="property_page.html"><%= link_to x.name.try(:titleize), event_path(x) %></a></h4>
                              <p class="team-color"><%=  x.address %>,<%=  x.city %>, <%=  x.state %></p>
                              <div class="col-md-7 col-sm-7 col-xs-7">
                                <span class="tag" style="display: inline-block;">Category :<%= render x.categories %></span>
                              </div>
                              <div class="col-md-5 col-sm-5 col-xs-5">
                                <div data-compare-state="empty" style="text-align: center;">
                                  <%= link_to like_event_path(x, like: true), method: :post do %>
                                    <i class="glyphicon glyphicon-thumbs-up" style="display: inline-block;"><%= x.thumbs_up_total %></i>
                                  <% end %> 
                                  <%= link_to like_event_path(x, like: false), method: :post do %>
                                    <i class="glyphicon glyphicon-thumbs-down" style="display: inline-block;"><%= x.thumbs_down_total %></i>
                                  <% end %>
                                </div>
                              </div>
                              <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                              <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                            </div>
                            <hr>
                            <div class="item-title btm-part">
                              <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                  <!-- <p>$ <%#= x.price %></p> -->
                                  <div class="item-label">
                                    <p class="team-color">
                                     <% if x.is_paid == true %>
              
                                        <%= label_tag :Paid %>
                                      <%else %>
                                        <%= label_tag :Free %>
                                      <% end %> 
                                    </p>
                                    <p>
                                      Created By:
                                    </p>
                                  </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 favorite"> 
                                  <div data-compare-state="empty" style="text-align: center">
                                    <div>
                                      <%= link_to (image_tag (x.user.image), class: "gravatar", width: "40", height: "40"), user_path(x.user) %>
                                    </div>
                                    <div>
                                      <%= x.user.name %>
                                    </div>
                                  </div>
                                    
                                </div><hr>
                                <div class="tag" style="display: inline-block; text-align: center;">
                                  <b>
                                    Start Date
                                    <%= x.start_time.to_datetime.strftime("%d-%m-%y") rescue "Not Available" %> | End Date
                                    <%= x.end_time.to_datetime.strftime("%d-%m-%y") rescue "Not Available" %>
                                  </b>
                                </div>      
                    <br>
                     <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["FACEBOOK_APP_ID"] %>',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
                <div style="text-align: center;">      
                  <a href = '#-' id="facebook-share_<%= x.id %>"><img src="/assets/fb.png"></a>
                  <a href="https://twitter.com/share?text=Event: <%= x.name %>.&url=<%= event_path(x) %>" target="_blank" ><img src="/assets/tweet.png"></a>
                  <%= image_tag ('email.png'), onclick: "$('#contactbtn1').click();" %>
                </div>

           <script type="text/javascript">
            $(document).on('click','#facebook-share_<%=x.id %>',function(e){
              e.preventDefault();
              FB.ui(
              {
                  method: 'feed',
                  link: '<%= event_path(x) %>',
                  name: '<%= x.name %>',
                  picture: '<%= x.picture.url %>',
                  description: '<%= x.summary %>'
              }, function(response){});
            });
          </script>           
                              <button style="display: none" type="button" id="contactbtn1" class="btn btn-info btn-small" data-toggle="modal" data-target="#exampleModal1" data-whatever="@mdo">Contact</button>
                              <%= form_for Event.new, url: "/events/#{x.id}/contact_email", method: "post" do |f| %>
                                <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">New message to <%= x.try(:user).try(:name) %></h4>
                                      </div>
                                      <div class="modal-body">
                                        <form>
                                          <!-- <div class="form-group"> -->
                                            <!-- <label for="recipient-name" class="control-label">Recipient:</label> -->
                                            <%#= f.text_field :email, required: true, class:"form-control", id: "recipient-name" %>
                                          <!-- </div> -->
                                          <div class="form-group">
                                            <label for="message-text" class="control-label">Message:</label>
                                            <%= f.text_area :message, required: true, class:"form-control", id: "message-text" %>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Close</button>
                                        <%= f.submit "Send Email", class:"btn btn-primary btn-small", id: "send_message", style: "display:none" %>
                                        <button type="button" class="btn btn-primary" onclick="$('#send_message').click();" >Send message</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% end %>

                              </div>
                            </div>
                          </div>
                        </div>
                        <%end%>
                       
                      </div><!-- end row -->
                    </div><!-- end container -->
                    <div class="col-xs-12 content_2 top-indent" style="text-align: center">
                      <!-- <nav class="site-navigation paging-navigation navbar"> -->
                        <ul class="pagination pagination-lg">
                          <li><%= will_paginate @events %></li>
                        </ul>
                      <!-- </nav> -->
                    </div>
                  </div>  <!-- end wide-2 -->
                </div>  <!-- content -->
              </div>
              <div id="tab2" class="tab" >
                <div class="col-xs-12 content_2">
                  <div class="col-md-10 col-md-offset-1">
                    <!-- Range slider -->
                    <div class="explore_grid">
                      <div class="row">
                        <div class="explore col-xs-12">
                          <h2>Events</h2>
                        </div>
                      </div><!-- row -->
                    </div>
                    <!-- End Range slider -->
                    <div class="wide-2">
                      <div class="row">
                        <% @events.each do |x| %>
                        <div class="col-md-3 col-sm-3 col-xs-6 prop">
                          <div class="wht-cont">
                            <div class="exp-img-2" >
                             <%= image_tag(x.picture.url, class: "panel-recipe ") if x.picture? %>
                              <div class="overlay">
                                <div class="img-counter">  
                                <%= link_to 'Event Details', event_path(x)  %></div>
                              </div>
                            </div>
                            <div class="item-title">
                              <h4><%= link_to x.name, event_path(x) %></h4>
                              <p class="team-color"><%=  x.address %>,<%=  x.city %>, <%=  x.state %></p>
                              <div class="col-md-7 col-sm-7 col-xs-7">
                                <p><span class="tag" style="display: inline-block;">Category :<%= render x.categories %></span></p>
                              </div>
                              <div class="col-md-5 col-sm-5 col-xs-5">
                                
                              </div>
                              <div class="col-md-7 col-sm-7 col-xs-7 lft-brd"></div>
                              <div class="col-md-5 col-sm-5 col-xs-5 lft-brd"></div>
                            </div>
                            <hr>
                            <div class="item-title btm-part">
                              <div class="row">
                                <div class="col-md-8 col-sm-8 col-xs-8">
                                  <p>$5,000,000</p>
                                  <p class="team-color">
                                  <% if x.is_paid == true %>
              
                                <%= label_tag :Paid %>
                                <%else %>
                                  <%= label_tag :Free %>
                                  <% end %> </p>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-4 favorite">
                                  <div class="bookmark" data-bookmark-state="empty">
                                    <%= link_to like_event_path(x, like: true), method: :post do %>
                                <i class="glyphicon glyphicon-thumbs-up">&nbsp<%= x.thumbs_up_total %></i>
                                <% end %> &nbsp&nbsp&nbsp&nbsp
                                <%= link_to like_event_path(x, like: false), method: :post do %>
                                <i class="glyphicon glyphicon-thumbs-down">&nbsp<%= x.thumbs_down_total %></i>
                                <% end %>
                                 </div> 
                                  <div data-compare-state="empty">
                                    <%= link_to gravatar_for(x.user, size: 40), user_path(x.user) %>
                                  </div>
                             
                                </div><hr>
                                <span class="tag" style="display: inline-block;">Start Date
              
                <%= x.start_time.to_datetime.strftime("%d-%m-%y") rescue "Not Available" %> | 
                End Date
                <%= x.end_time.to_datetime.strftime("%d-%m-%y") rescue "Not Available" %></span>
                    <br>
                     <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["FACEBOOK_APP_ID"] %>',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

                  <a href = '#-' id="facebook-share_<%= x.id %>"><img src="/assets/fb.png"></a>
              <a href="https://twitter.com/share?text=Event: <%= x.name %>.&url=<%= event_path(x) %>" target="_blank" ><img src="/assets/tweet.png"></a>

           <script type="text/javascript">
            $(document).on('click','#facebook-share_<%=x.id %>',function(e){
              e.preventDefault();
              FB.ui(
              {
                  method: 'feed',
                  link: '<%= event_path(x) %>',
                  name: '<%= x.name %>',
                  picture: '<%= x.picture.url %>',
                  description: '<%= x.summary %>'
              }, function(response){});
            });
          </script>  
                                  
                              <button type="button" class="btn btn-info btn-small" data-toggle="modal" data-target="#exampleModal2" data-whatever="@mdo">Contact</button>
                              <%= form_for Event.new, url: "/events/#{x.id}/contact_email", method: "post" do |f| %>
                                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">New message to <%= x.try(:user).try(:name) %></h4>
                                      </div>
                                      <div class="modal-body">
                                        <form>
                                          <!-- <div class="form-group"> -->
                                            <!-- <label for="recipient-name" class="control-label">Recipient:</label> -->
                                            <%#= f.text_field :email, required: true, class:"form-control", id: "recipient-name" %>
                                          <!-- </div> -->
                                          <div class="form-group">
                                            <label for="message-text" class="control-label">Message:</label>
                                            <%= f.text_area :message, required: true, class:"form-control", id: "message-text" %>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Close</button>
                                        <%= f.submit "Send Email", class:"btn btn-primary btn-small", id: "send_message", style: "display:none" %>
                                        <button type="button" class="btn btn-primary" onclick="$('#send_message').click();" >Send message</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% end %>

                                  </div>
                                </div>
                              </div>
                            </div>
                             <%end%>
                          </div>
                        </div>
                     <!-- content_2 -->
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <nav class="site-navigation paging-navigation navbar">
                     
                      <ul class="pagination pagination-lg">
                     <li><%= will_paginate @events %></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>







              <div id="tab3" class="tab" >
                <div class="col-xs-12 content_2">
                  <div class="col-lg-10 col-lg-offset-1 col-md-12">
                    <!-- Range slider -->
                    <div class="row">
                      <div class="explore col-xs-12">
                        <h2>Events Listing</h2>
                     
                      </div>
                    </div><!-- row -->
                    <!-- End Range slider -->
                    <% @events.each do |x| %>
                    <div class="wide-2">
                      <div class="row white">
                       
                        <div class="col-md-3 col-sm-3 prp-img">
                          <div class="exp-img-2">
                           <%= image_tag(x.picture.url, class: "panel-recipe ") if x.picture? %>
                            <div class="overlay">
                              <div class="img-counter"> 
                              <%= link_to 'Event Details', event_path(x)  %></div>
                            </div>
                          </div>
                        </div>
                        <div class="item-info col-lg-7 col-md-6 col-sm-6">
                          <h4><%= link_to x.name, event_path(x) %></h4>
                          <p class="team-color"><%=  x.address %>,<%=  x.city %>, <%=  x.state %></p>
                          <div class="block">
                            <div class="col-md-3 col-sm-3 col-xs-3 cat-img">
                              <img src="assets/img/bedroom.png" alt="">
                              <p class="info-line"><span class="tag" style="display: inline-block;">Category :<%= render x.categories %></span></p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 cat-img">
                              <img src="assets/img/bathroom.png" alt="">
                              <p class="info-line">
                               <% if x.is_paid == true %>
              
                                <%= label_tag :Paid %>
                                <%else %>
                                  <%= label_tag :Free %>
                                  <% end %> </p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 cat-img">
                              <img src="assets/img/square.png" alt="">
                              <p class="info-line">Start Date
              
                <%= x.start_time.to_datetime.strftime("%d-%m-%y") rescue "Not Available" %></p>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 cat-img">
                              <img src="assets/img/garage.png" alt="">
                              <p class="info-line"> | 
                End Date
                <%= x.end_time.to_datetime.strftime("%d-%m-%y") rescue "Not Available" %></p>
                            </div>
                          </div>
                          <div class="col-md-3 col-sm-3 col-xs-3 line"></div>
                          <div class="col-md-3 col-sm-3 col-xs-3 line"></div>
                          <div class="col-md-3 col-sm-3 col-xs-3 line"></div>
                          <div class="col-md-3 col-sm-3 col-xs-3 line"></div>
                          <hr>
                          <p style="width:900px"><%= x.summary %></p>
                        </div>
                        <div class="item-price col-lg-2 col-md-3 col-sm-3 col-xs-12">
                          <div class="sum col-sm-12 col-xs-6">
                              
                                    <%= link_to like_event_path(x, like: true), method: :post do %>
                                <i class="glyphicon glyphicon-thumbs-up">&nbsp<%= x.thumbs_up_total %></i>
                                <% end %> &nbsp&nbsp&nbsp&nbsp
                                <%= link_to like_event_path(x, like: false), method: :post do %>
                                <i class="glyphicon glyphicon-thumbs-down">&nbsp<%= x.thumbs_down_total %></i>
                                <% end %>
                             </div>
                              <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["FACEBOOK_APP_ID"] %>',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

                  <a href = '#-' id="facebook-share_<%= x.id %>"><img src="/assets/fb.png"></a>
              <a href="https://twitter.com/share?text=Event: <%= x.name %>.&url=<%= event_path(x) %>" target="_blank" ><img src="/assets/tweet.png"></a>

           <script type="text/javascript">
            $(document).on('click','#facebook-share_<%=x.id %>',function(e){
              e.preventDefault();
              FB.ui(
              {
                  method: 'feed',
                  link: '<%= event_path(x) %>',
                  name: '<%= x.name %>',
                  picture: '<%= x.picture.url %>',
                  description: '<%= x.summary %>'
              }, function(response){});
            });
          </script> 
                            <button type="button" class="btn btn-info btn-small" data-toggle="modal" data-target="#exampleModal3" data-whatever="@mdo">Contact</button>
                              <%= form_for Event.new, url: "/events/#{x.id}/contact_email", method: "post" do |f| %>
                                <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">New message to <%= x.try(:user).try(:name) %></h4>
                                      </div>
                                      <div class="modal-body">
                                        <form>
                                          <!-- <div class="form-group"> -->
                                            <!-- <label for="recipient-name" class="control-label">Recipient:</label> -->
                                            <%#= f.text_field :email, required: true, class:"form-control", id: "recipient-name" %>
                                          <!-- </div> -->
                                          <div class="form-group">
                                            <label for="message-text" class="control-label">Message:</label>
                                            <%= f.text_area :message, required: true, class:"form-control", id: "message-text" %>
                                          </div>
                                        </form>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-default btn-small" data-dismiss="modal">Close</button>
                                        <%= f.submit "Send Email", class:"btn btn-primary btn-small", id: "send_message", style: "display:none" %>
                                        <button type="button" class="btn btn-primary" onclick="$('#send_message').click();" >Send message</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              <% end %>

                          </div>
                          
                    </div>
                     </div> 
                       <%end%>
                    <!-- end wide-2 -->
                  </div>
                </div>
                <div class="col-xs-12">
                  <div class="col-md-10 col-md-offset-1 col-xs-12">
                    <nav class="site-navigation paging-navigation navbar">
                      <ul class="pagination pagination-lg">
                           <li><%= will_paginate @events %></li>
                        </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div><!-- tab-content -->
          </div><!-- tabs -->
        </div>
      </div>
    </div><!-- end Page Content -->

    <!-- Start Footer -->
    <div id="footer"></div>
    <!-- End Footer -->
  </div>
  
  <!-- Modal login, register, custom gallery -->
  <div id="login-modal-open"></div>
  <div id="register-modal-open"></div>
  <div class="custom-galery">
    <input class="no-icheck gal" type="checkbox" id="op">
    <div class="lower"></div>
    <div class="overlay overlay-hugeinc">
      <label for="op"></label>
      <nav>
        <!-- Owl carousel -->
        <div class="owl-carousel owl-theme carousel-full-width owl-demo-3">
          <div class="item" style="background-image: url(http://placehold.it/950X800);"></div>
          <div class="item" style="background-image: url(http://placehold.it/800X650);"></div>
        </div>
        <!-- End Owl carousel -->
      </nav>
    </div>
  </div>


  <!-- End Modal login, register, custom gallery -->

  <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places"></script>
  

  <script type="text/javascript" src="assets/js/custom-map.js"></script>
  <script type="text/javascript" src="assets/js/custom.js"></script>

  

<!--[if gt IE 8]>
<script type="text/javascript" src="assets/js/ie.js"></script>
<![endif]-->
</body>
</html>



<!--display title from partials page-->

<!-- 

  <link href="assets/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom CSS -->
  <!--   <link href="assets/half-slider.css" rel="stylesheet"> -->
      <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
   <!--  <script src="assets/bootstrap.min.js"></script> -->

 <!-- <header id="myCarousel" class="carousel slide">
         Indicators --> 
      

        <!-- Wrapper for Slides -->
       <!--  <div class="carousel-inner">
            <div class="item active">
                <%# @events.limit(1).each do |event|%>
                       <%#= image_tag event.picture, :class =>"fill" %>
                
                <%# end %>
            </div> -->
           <!--   <%# @events.each_with_index do |event, index|%>
            <div class="item">
                Set the first background image using inline CSS below. -->
               
                       <%#= image_tag event.picture, :class =>"fill" %>
                
                
           <!--  </div>
            <%# end %>
        </div> -->

        <!-- Controls -->
      <!--   <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header> -->


<%#= render 'shared/page_title', title: "View All Events" %>



 

    <!--   <div class="row">
        <div class="col-md-4 col-md-offset-4 center"> -->
        <%#= will_paginate %>
        <!-- </div>
      </div>
    
          
            
</div> --> 
        

<script type="text/javascript">
  
  $('#exampleModal1').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  // modal.find('.modal-title').text('New message to ' + recipient)
  // modal.find('.modal-body input').val(recipient)
})

 $('#exampleModal2').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  // modal.find('.modal-title').text('New message to ' + recipient)
  // modal.find('.modal-body input').val(recipient)
})

 $('#exampleModal3').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  // modal.find('.modal-title').text('New message to ' + recipient)
  // modal.find('.modal-body input').val(recipient)
})

</script>        





<script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('googleMap'), {
          center: {lat: <%= request.location.latitude!=0 ? request.location.latitude : 28.631418 %>, lng: <%= request.location.longitude!=0 ? request.location.longitude : 77.280159 %>},
          zoom: 8
        });
      }
    </script>
  <script type="text/javascript">
  var eventconHeight =  $('.event-container').height();
  $('#googleMap').css('height',eventconHeight);
</script>


<style>
  .btn-sm, .btn-small {
    padding: 9px 10px;
    width: auto; 
    height: 40px;
}

.wide-2 .btn-small {
     padding: 10px 10px; 
     width: auto; 
    height: 40px;
}
.wide-2 .btn {
     margin: 0; 
}

.wide-2 .wht-cont p, .wide-2 .wht-cont li {
    word-wrap: break-word;
}
#page-content-search .container .wide_container_2 .form-control {
    border: solid black 1px;
}
</style> 

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl8KUzAOcfadtLw7_wkJ_NyoD5vDz3_74&callback=initMap"
    async defer></script>
