  <!-- Preloader -->
  <div id="page-preloader" style="z-index:99999999999999999999999">
    <div class="loader-ring"></div>
    <div class="loader-ring2"></div>
  </div>
  <!-- End Preloader -->  
  <!-- Wrapper -->
  <div class="wrapper">    
    <% if @events.present? %>
      <div id="page-property-content">
        <div class="wide_container_3 carousel-full-width slider-kit">
          <div class="tabs">
            <div class="tab-content" id="tab-content_up">
              <%= render partial: "picture_container", locals: { events_pictures: @events_pictures} %>
            </div>
            <ul class="tab-links col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
              <li class="col-xs-4 event-index-tab"><a id="left-carosusel" href="#myCarousel" data-slide="prev" onclick="$('.titleHeader').css('z-index','9999');"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
              <li class="active col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel");$("#right-carosusel").attr("href", "#myCarousel");tabRequest(4);'><span style="" class="glyphicon glyphicon-camera glf-icon"></span>Photo</a></li>
              <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href","#myCarousel1");$("#right-carosusel").attr("href", "#myCarousel1");tabRequest(5);' ><span class="glyphicon glyphicon-facetime-video glf-icon"></span>Videos</a></li>
              <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" class="map4" onclick='$("#left-carosusel").attr("href", "#myCarousel2");$("#right-carosusel").attr("href", "#myCarousel2");tabRequest(6);'><span class="glyphicon glyphicon-map-marker glf-icon"></span>Map</a></li>
              <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel3");$("#right-carosusel").attr("href", "#myCarousel3");tabRequest(7);' ><span class="glyphicon glyphicon-road glf-icon"></span>Street View</a></li>

              <li class="col-xs-4"><a id="right-carosusel" href="#myCarousel" data-slide="next" onclick="$('.titleHeader').css('z-index','9999');"><span class="glyphicon glyphicon-arrow-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <div id="page-content-search">
      <div class="container">
        <div class="wide_container_2">
          <form>
            <div class="tabs">
              <header class="col-md-8 col-xs-12 no-pad">
                <div class="col-sm-1 col-xs-1" style="font-size: 25px; padding: 20px 0 0 60px;">
                    <span class="glyphicon glyphicon-map-marker"></span>
                  
                </div>
                <div class="location-map col-sm-7 col-xs-7">
                  <div class="input-group inner-addon left-addon">
                    <!-- <input id="pac-input" class="controls" type="text"
                        placeholder="Enter a location"> -->
                    <div id="type-selector" class="controls" style="display:none">
                      <input type="radio" name="type" id="changetype-all" checked="checked">
                      <label for="changetype-all">All</label>

                      <input type="radio" name="type" id="changetype-establishment">
                      <label for="changetype-establishment">Establishments</label>

                      <input type="radio" name="type" id="changetype-address">
                      <label for="changetype-address">Addresses</label>

                      <input type="radio" name="type" id="changetype-geocode">
                      <label for="changetype-geocode">Geocodes</label>
                    </div>
                    <div id="map" class="placeSearch"></div>
                    <input type="text" placeholder="<%= request.location.address %>" style="padding: 25px !important;  z-index: 999999999999999 !important;" name="address" id="pac-input" class="form-control mapTextField" autocomplete="off">
                  </div>
                </div>
                <div class="select-block col-md-4 col-xs-4 last">
                  <a id="toggle-link" class="options-button">Filters</a>
                </div>
                <div style="display: none; min-height:400px; max-height:600px;overflow-y:scroll" id="hidden_content" class="options-overlay col-md-12 col-sm-12">
                  <div class="row" >
                    <div class="container" style="padding:20px">
                      <h2>Filter</h2>
                      <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Reset Filter</a></li>
                        <li><a data-toggle="tab" href="#menu1">Location</a></li>
                        <li><a data-toggle="tab" href="#menu2">Date</a></li>
                        <li><a data-toggle="tab" href="#menu3">Price</a></li>
                        <li><a data-toggle="tab" href="#menu4">Category</a></li>
                        <li><a data-toggle="tab" href="#menu5">Event Type</a></li>
                      </ul>
                      <%= form_for @tab, remote: true, id: "filterForm", method: :get do |f| %>  
                        <div class="tab-content" style="padding:20px">
                          <div id="home" class="tab-pane fade in active">
                            <h2>Reset Filter</h2>
                            <div class="btn-group" data-toggle="buttons" style="width:100%;">
                              <div class="row">
                                <div class="col-md-4">
                                  <label class="btn btn-success active">
                                    <input type="checkbox" checked autocomplete="off"> Reset Location
                                  </label>
                                </div>
                                <div class="col-md-4">
                                  <label class="btn btn-success">
                                    <input type="checkbox" autocomplete="off">Reset Date
                                  </label>
                                </div>
                                <div class="col-md-4">
                                  <label class="btn btn-success">
                                    <input type="checkbox" autocomplete="off">Reset Price
                                  </label>
                                </div>
                              </div>
                              <div class="row"> 
                                <div class="col-md-6">
                                  <label class="btn btn-success">
                                    <input type="checkbox" autocomplete="off">Reset Category
                                  </label>
                                </div>
                                <div class="col-md-6">    
                                  <label class="btn btn-success">
                                    <input type="checkbox" autocomplete="off">Reset Event Type
                                  </label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="menu1" class="tab-pane fade">
                            <h2>Filter By Location</h2>
                            <div class="btn-group" data-toggle="buttons" id="locationFilter">
                              <label class="btn btn-primary active" onclick="$('#city_filter').hide();$('#city_filter').val('');$('#state_filter').hide();$('#state_filter').val();$('#country_filter').hide();$('#country_filter').val();">
                                <input type="radio" name="locationFilter" id="option111" autocomplete="off" checked> Current Location
                              </label>
                              <label class="btn btn-success" onclick="$('#city_filter').hide();$('#city_filter').val('');$('#state_filter').hide();$('#state_filter').val();$('#country_filter').hide();$('#country_filter').val();">
                                <input type="radio" name="locationFilter" id="option222" autocomplete="off"> Current City
                              </label>
                              <label class="btn btn-success" onclick="$('#city_filter').show();$('#state_filter').hide();$('#state_filter').val();$('#country_filter').hide();$('#country_filter').val();">
                                <input type="radio" name="locationFilter" id="option3" autocomplete="off"> Custom City
                              </label>
                                <input type="text" name="city_filter" class="form-control" id="city_filter" placeholder="Enter City" style="display:none">
                              <label class="btn btn-success" onclick="$('#city_filter').hide();$('#city_filter').val('');$('#state_filter').hide();$('#state_filter').val();$('#country_filter').hide();$('#country_filter').val();">
                                <input type="radio" name="locationFilter" id="option333" autocomplete="off"> Current State
                              </label>
                              <label class="btn btn-success" onclick="$('#state_filter').show();$('#city_filter').hide();$('#city_filter').val();$('#country_filter').hide();$('#country_filter').val();">
                                <input type="radio" name="locationFilter" id="option444" autocomplete="off"> Custom State
                              </label>
                              <input type="text" name="state_filter" class="form-control" id="state_filter" placeholder="Enter State" style="display:none">
                              <label class="btn btn-success" onclick="$('#city_filter').hide();$('#city_filter').val('');$('#state_filter').hide();$('#state_filter').val();$('#country_filter').hide();$('#country_filter').val();">
                                <input type="radio" name="locationFilter" id="option555" autocomplete="off"> Current Country
                              </label>
                              <label class="btn btn-success" onclick="$('#country_filter').show();$('#city_filter').hide();$('#city_filter').val();$('#state_filter').hide();$('#state_filter').val();">
                                <input type="radio" name="locationFilter" id="option666" autocomplete="off"> Custom Country
                              </label>
                              <input type="text" name="country_filter" class="form-control" id="country_filter" placeholder="Enter Country" style="display:none">
                            </div>  
                          </div>
                          <div id="menu2" class="tab-pane fade">
                            <h2>Filter By Date</h2>
                            <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-primary active" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> Upcomming Events
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Past Events
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Today's Events
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Yesterday's Event
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Tommorw's Events
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off">  Day after Tommorw's Events
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Current Week Events
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Current Month Events
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Current Year Events
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Events in 7days
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Events in 30days
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').hide();$('#start_date').val('');$('#end_date').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Events in 365days
                              </label>
                              <label class="btn btn-success" onclick="$('#customDateBlock').show();">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Custom Date
                              </label>
                              <div class="row" id="customDateBlock" style="display:none">
                                <div class="col-md-6">
                                  <label for="name">Start Date </label>
                                  <%= f.text_field :start_time,:id=>"start_date",:class=>"form-control", required: true %>
                                </div>
                                <div class="col-md-6">
                                  <label for="name">End Date </label>
                                  <%= f.text_field :end_time,:id=>"end_date",:class=>"form-control", required: true %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div id="menu3" class="tab-pane fade">
                            <h2>Filter By Price</h2>
                            <div class="btn-group" data-toggle="buttons">
                              <div class="priceFiled" id = "priceFiled">
                                <input class="price-input" type="text" name="price" value="">
                              </div>  
                              <label class="btn btn-primary active" onclick="$('#priceFiled').show();">
                                <input type="radio" name="options" id="option1" autocomplete="off" checked> All
                              </label>
                              <label class="btn btn-primary" onclick="$('#priceFiled').hide();$('#price-input').val('');">
                                <input type="radio" name="options" id="option1" autocomplete="off"> Free
                              </label>
                              <label class="btn btn-success" onclick="$('#priceFiled').show();">
                                <input type="radio" name="options" id="option2" autocomplete="off"> Paid
                              </label>
                              <label class="btn btn-success" onclick="$('#priceFiled').show();">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Free + Paid
                              </label>
                              <label class="btn btn-success" onclick="$('#priceFiled').hide();$('#price-input').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Donation
                              </label>
                              <label class="btn btn-success" onclick="$('#priceFiled').hide();$('#price-input').val('');">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Free + Donation
                              </label>
                              <label class="btn btn-success" onclick="$('#priceFiled').show();">
                                <input type="radio" name="options" id="option3" autocomplete="off"> Paid + Donation
                              </label>
                            </div>
                          </div>
                          <div id="menu4" class="tab-pane fade">
                            <h2>Filter By Category</h2>
                            <div class="btn-group" data-toggle="buttons" style="width:100%">
                              <label class="btn btn-primary active" onclick=" $('#event_categories_filter' ).val(<%= Category.all.collect(&:id)%>).change()">
                                <input type="radio" name="options" id="option1" autocomplete="off"> Select All
                              </label>
                              <label class="btn btn-primary" onclick=" $('#event_categories_filter' ).val('').change()">
                                <input type="radio" name="options" id="option" autocomplete="off"> Reset All
                              </label>
                              <%= f.select(:categories, Category.all.collect {|s| [s.name, s.id]}, {}, id: "event_categories_filter", :multiple => true) %>
                            </div>
                          </div>
                          <div id="menu5" class="tab-pane fade">
                            <h2>Filter By Event Type</h2>
                             <div class="form-control">
                              <%= f.select :event_type, [['Appearance or Signing', 'AppearanceorSigning'], ['Attraction', 'Attraction'], ['Camp, Trip, or Retreat', 'CampRetreat']], id: "event_type_filter" %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div><!-- options-overlay -->
              </header>
              <ul class="tab-links col-md-4 col-xs-12">
                <li class="col-lg-3 col-lg-offset-2 col-md-4 col-xs-4 no-pad active"><a href="javascript:void(0)" onclick="tabRequest(1);" id="mapView" class="map2"><span class="glyphicon glyphicon-map-marker glf-icon"></span>Map</a></li>
                <li class="col-lg-3 col-md-4 col-xs-4 no-pad"><a href="javascript:void(0)" onclick="tabRequest(2);"><span class="glyphicon glyphicon-th-large glf-icon"></span>Grig</a></li>
                <li class="col-lg-3 col-md-4 col-xs-4 bdr-rgh no-pad"><a href="javascript:void(0)" onclick="tabRequest(3);"><span class="glyphicon glyphicon-th-list glf-icon"></span>List</a></li>
              </ul>
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-md-2 col-sm-4">
                      <label class="top-indent">Distance:</label>
                  </div>
                  <div class="col-md-10 col-sm-8" style="padding: 0 40px">
                    <input class="distance-input" type="text" name="price" value="0;5000000">
                  </div>
                </div><!-- row -->
                <div class="row">
                  <%= render partial: "event_result_title", locals: { events: @events } %>
                </div><!-- row -->
              </div>  <!-- explore_grid -->
              <!-- tab-links -->
              <div class="tab-content" id="tab-content">
                
                <%= render partial: "map", locals: {events: @events} %>
                <%#= render "grid" %>
                <%#= render "list" %>
                
                
              </div><!-- tab-content -->
            </div><!-- tabs -->
            <div class="col-xs-12">
              <div class="col-md-10 col-md-offset-1 col-xs-12">
                <nav class="site-navigation paging-navigation navbar">
                   <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
    <%#= will_paginate @events %>
    </div>
  </div>
                </nav>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div><!-- end Page Content -->
  </div>
  <!-- Modal -->
<!--   <div class="modal fade share" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Share with Friends</h4>
        </div>
        <div class="modal-body">
            <a class="btn btn-social-icon btn-twitter">
              <span class="fa fa-twitter"></span>
            </a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div> -->


<style>
.slider-kit .col-xs-4
{
  width:16.5% !important;
}

.col-lg-offset-4 {
    margin-left:0 !important;
}
.col-lg-4 {
    width: 100%;
    padding:10px;
}
.glf-icon
{
  padding:0px 15px !important;
}

.owl-theme .owl-controls {
    background: white none repeat scroll 0 0;
    margin-top: -25px;
    text-align: center;
    z-index: 9999999;
}
#page-content-search .container .wide_container_2 .tabs {
  display: block !important;
  }

.placeSearch
{
  width:100%!important;
  height: 70px !important ;
}
#pac-input
{
  z-index: 999999999999999999999 !important;
}
.btn-group {
    margin: 15px !important;
    padding: 15px !important;
}
label
{
   padding: 10px 30px !important;
   margin: 20px 10px !important;
   width: 100% !important;
}
.select2 
  {
    width: 100% !important;
  }
</style>

<script type="text/javascript">
  function tabRequest(id){
    $.ajax({
      type:'GET',
      url: '/events/tabs',
      dataType: 'script',
      data: $.param({ tab: id})
    });
  };

</script>
<script>
  $(function() {
    $("#start_date").datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
     $("#end_date").datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
  });
</script>

<script type="text/javascript">
  $('input[name=locationFilter]:checked', '#locationFilter').val();
</script>
<script type="text/javascript">
  $( "#event_categories_filter" ).select2();
  $( "#event_type_filter" ).select2();
</script>
<script type="text/javascript">
  $(".distance-input").ionRangeSlider({
    type: "double",
    min: 0,
    max: 10000,
    from: 10,
    to: 100,
    keyboard: true,
    step: 10,
    grid: true,
    force_edges: true,
    onStart: function (data) {
        console.log("onStart");
    },
    onChange: function (data) {
        console.log("onChange");
    },
    onFinish: function (data) {
        console.log("onFinish");
    },
    onUpdate: function (data) {
        console.log("onUpdate");
    }
});

</script>
price-input
<script type="text/javascript">
  $(".price-input").ionRangeSlider({
    type: "double",
    min: 0,
    max: 100000,
    from: 10,
    to: 100,
    keyboard: true,
    step: 10,
    grid: true,
    force_edges: true,
    onStart: function (data) {
        console.log("onStart");
    },
    onChange: function (data) {
        console.log("onChange");
    },
    onFinish: function (data) {
        console.log("onFinish");
    },
    onUpdate: function (data) {
        console.log("onUpdate");
    }
});

</script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#mapView').click();
  });
</script>
<script type="text/javascript">
  
        var map;
      
        function initMap() {
          
          var myOptionsB = {
              zoom: 14,
              center: {lat: 28.5910985, lng: 77.2252626},
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }
          map = new google.maps.Map(document.getElementById("map"), myOptionsB);
        
        var input = /** @type {!HTMLInputElement} */(
            document.getElementById('pac-input'));

        var types = document.getElementById('type-selector');
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(types);

        var autocomplete = new google.maps.places.Autocomplete(input);
        autocomplete.bindTo('bounds', map);

        var infowindow = new google.maps.InfoWindow();
        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener('place_changed', function() {
          infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            window.alert("Autocomplete's returned place contains no geometry");
            return;
          }

          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
            // $.ajax({
            //   type:'GET',
            //   url: '/tabs',
            //   dataType: 'script',
            //   data: $.param({ lat: place.geometry.location.lat(), long: place.geometry.location.lng(), tab: })
            // });

          } else {

            map.setCenter(place.geometry.location);
            map.setZoom(17);  // Why 17? Because it looks good.
          }
          marker.setIcon(/** @type {google.maps.Icon} */({
            url: place.icon,
            size: new google.maps.Size(71, 71),
            origin: new google.maps.Point(0, 0),
            anchor: new google.maps.Point(17, 34),
            scaledSize: new google.maps.Size(35, 35)
          }));
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

          var address = '';
          if (place.address_components) {
            console.log(place.geometry.location.G); // Get Latitude
console.log(place.geometry.location.K); // Get Longitude

//Additional information
console.log(place.formatted_address); // Formated Address of Place
console.log(place.name); // Name of Place
            address = [
              (place.address_components[0] && place.address_components[0].short_name || ''),
              (place.address_components[1] && place.address_components[1].short_name || ''),
              (place.address_components[2] && place.address_components[2].short_name || '')
            ].join(' ');
          }

          infowindow.setContent('<div><strong>' + place.name + '</strong><br>' + address);
          infowindow.open(map, marker);
        });

        // Sets a listener on a radio button to change the filter type on Places
        // Autocomplete.
        function setupClickListener(id, types) {
          var radioButton = document.getElementById(id);
          radioButton.addEventListener('click', function() {
            autocomplete.setTypes(types);
          });
        }

        setupClickListener('changetype-all', []);
        setupClickListener('changetype-address', ['address']);
        setupClickListener('changetype-establishment', ['establishment']);
        setupClickListener('changetype-geocode', ['geocode']);
     } 

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDl8KUzAOcfadtLw7_wkJ_NyoD5vDz3_74&callback=initMap&libraries=places" async defer></script>
