<!--display title from partials page-->

 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script>
  $(function() {
    $( "#start_date" ).datepicker({
        dateFormat: 'dd-mm-yy'
     });
    $( "#end_date" ).datepicker({
        dateFormat: 'dd-mm-yy'
     });

  });
  </script>

<div class="container">
<div class="row">
<div class="form-inline" >
<div class="col-md-7 div-search-left">

 <%= form_tag  events_path, :method => :get do %>

      <%= select_tag 'category', options_for_select(Category.all.map{|el| [el.name, el.id]}), include_blank: true, :class=>"col-md-3 form-control  li-text " %>
        
          <%= text_field_tag :distance, params[:distance], :class=>"col-md-3 form-control  li-text", 
         :placeholder=>"Enter Miles " %>

         <%= text_field_tag :search, params[:search], :class=>" col-md-3 form-control  li-text", 
         :placeholder=>"Enter Addreess for find event" %>
    
         <%= submit_tag "Search", :name => nil, :class=>"col-md-3 form-control li-button btn btn-success" %>
          
      <% end %>
      </div>

      <div class="col-md-5 div-search-right">
     <span id="span1">Search by date:</span>
      <%= form_tag  events_path, :method => :get do %>

     <%= text_field_tag :start_date, params[:start_date],:id=>"start_date", :class=>" col-md-3 form-control  li-text", 
         :placeholder=>"Start date" %>
      
        <%= text_field_tag :end_date, params[:end_date],  :id=>"end_date", :class=>" col-md-3 form-control  li-text", 
         :placeholder=>"End Date" %>

          <%= submit_tag "Search", :name => nil, :class=>"col-md-3 form-control li-button btn btn-success" %>
         
               <% end %>
</div>
 </div>
</div></div>


  <link href="assets/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/half-slider.css" rel="stylesheet">
      <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <script src="assets/bootstrap.min.js"></script>

 <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
      

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <% @events.limit(1).each do |event|%>
                       <%= image_tag event.picture, :class =>"fill" %>
                
                <% end %>
            </div>
             <% @events.each_with_index do |event, index|%>
            <div class="item">
                <!-- Set the first background image using inline CSS below. -->
               
                       <%= image_tag event.picture, :class =>"fill" %>
                
                
            </div>
            <% end %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>


<%= render 'shared/page_title', title: "View All Events" %>

<!--<hr/>-->

<div class="container">
 <div id="fb-root"></div>
  <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '<%= ENV["FACEBOOK_APP_ID"] %>',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

 <% @events.each do |x| %>
        <div class="col-md-4 m-b-lg">
          <div class="panel panel-default panel-profile m-b-0">
            <!--<div class="panel-heading" style="background-image: url(https://images.unsplash.com/photo-1424847651672-bf20a4b0982b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=9bd244971b9cb52a8418cf2f66fce464);"></div>-->
            <!--<div class="panel-heading"></div>-->
                <%= image_tag(x.picture.url, class: "panel-recipe") if x.picture? %>
                
            <div class="panel-body text-center">
                <section class="panel-profile-recipe-img">
              <%= link_to gravatar_for(x.user, size: 40), user_path(x.user) %>
              
              </section>
              
              <h4><%= link_to x.name, event_path(x) %></h4>
              <h6><%=  x.address %>,<%=  x.city %>, <%=  x.state %></h6>
              <h2 class="quiet"><%#= x.summary.split[0..4].join(" ") %></h2>
              <% if x.is_paid == true %>
              
              <%= label_tag :Paid %>
              <%else %>
                <%= label_tag :Free %>
                <% end %> 

                   

                  <div class>
                        <span class="icon icon-add-user"></span> <%= link_to 'View Event', event_path(x), class: "btn btn-success btn-small" %>
                    </div> 
                    
                <div class="thumbs">
                    <%= link_to like_event_path(x, like: true), method: :post do %>
                    <i class="white glyphicon glyphicon-thumbs-up">&nbsp<%= x.thumbs_up_total %></i>
                    <% end %> &nbsp&nbsp&nbsp&nbsp
                    <%= link_to like_event_path(x, like: false), method: :post do %>
                    <i class="white glyphicon glyphicon-thumbs-down">&nbsp<%= x.thumbs_down_total %></i>
                    <% end %>
                    
                </div> 
                </br>
                <p><%=label_tag :Start_Date %>
              
                <%= x.start_time.to_datetime.strftime("%d-%m-%y") rescue "Not Available" %>
        

                <%= label_tag :End_Date %>
                <%= x.end_time.to_datetime.strftime("%d-%m-%y") rescue "Not Available" %> </p>
                <div class="ingredient pull-left">
                <p style="color: #777">Category: <%= render x.categories %></p>
                </div>
                    
              <a href = '#-' id="facebook-share_<%= x.id %>"><img src="/assets/fb.png"></a>
              <a href="https://twitter.com/share?text=Event: <%= x.name %>.&url=<%= event_path(x) %>" target="_blank" ><img src="/assets/tweet.png"></a>

            </div>
          </div>
        </div>
                    
           <script type="text/javascript">
            $(document).on('click','#facebook-share_<%=x.id %>',function(e){
              e.preventDefault();
              FB.ui(
              {
                  method: 'feed',
                  link: '<%= event_path(x) %>',
                  name: '<%= x.name %>',
                  picture: '<%= x.picture.url %>',
                  description: '<%= x.summary %>'
              }, function(response){});
            });
          </script>      
            
     <% end %>
     
     <!--pagination on bttom -->
      <div class="row">
        <div class="col-md-4 col-md-offset-4 center">
        <%#= will_paginate %>
        </div>
      </div>
    
    	    
            
</div>
        
  












