
  <div id="page-preloader" style="z-index:99999999999999999999999">
    <div class="loader-ring"></div>
    <div class="loader-ring2"></div>
  </div>
  <div class="wrapper">    
    <% unless params[:browse] %>
    <% if @events.present? %>
      <div id="page-property-content">
        <div class="wide_container_3 carousel-full-width slider-kit">
          <div class="tabs">
            <div class="tab-content" id="tab-content_up">
              <%= render partial: "picture_container", locals: { events_pictures: @events_pictures} %>
            </div>
            <ul class="tab-links col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
              <li class="col-xs-4 event-index-tab"><a id="left-carosusel" href="#myCarousel" data-slide="prev" onclick="$('.titleHeader').css('z-index','9999');"><span class="glyphicon glyphicon-arrow-left"></span></a></li>
              <li class="active col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel");$("#right-carosusel").attr("href", "#myCarousel");tabRequest(4);'><span style="" class="glyphicon glyphicon-camera glf-icon"></span>Photo</a></li>
              <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href","#myCarousel1");$("#right-carosusel").attr("href", "#myCarousel1");tabRequest(5);' ><span class="glyphicon glyphicon-facetime-video glf-icon"></span>Videos</a></li>
              <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" class="map4" onclick='$("#left-carosusel").attr("href", "#myCarousel2");$("#right-carosusel").attr("href", "#myCarousel2");tabRequest(6);'><span class="glyphicon glyphicon-map-marker glf-icon"></span>Map</a></li>
              <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel3");$("#right-carosusel").attr("href", "#myCarousel3");tabRequest(7);' ><span class="glyphicon glyphicon-road glf-icon"></span>Street View</a></li>
              <li class="col-xs-4"><a id="right-carosusel" href="#myCarousel" data-slide="next" onclick="$('.titleHeader').css('z-index','9999');"><span class="glyphicon glyphicon-arrow-right"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <% else %>     
      <div id="myCarousel" class="carousel slide" data-ride="carousel" style>
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>  
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="https://zermattresort.com/wp-content/uploads/2015/07/WilliamJoseph.jpg" alt="Chania">
           <div class="carousel-caption">
              <h1>My Event</h1>
              <h3>Find the best event from our site.</h3>
            </div>
          </div>
          <div class="item">
           <img src="http://coralspringsresort.com/wp-content/uploads/2015/12/Biking.jpg" alt="Chania">
           <div class="carousel-caption">
              <h1>My Event</h1>
              <h3>Find the best event from our site.</h3>
            </div>
          </div>
           <div class="item">
           <img src="http://coralspringsresort.com/wp-content/uploads/2015/12/Races.jpg" alt="Chania">
           <div class="carousel-caption">
              <h1>My Event</h1>
              <h3>Find the best event from our site.</h3>
            </div>
          </div>  
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    <% end %>
    <div id="page-content-search">
      <div class="container">
        <div class="wide_container_2">
          <div class="tabs">
            <header class="col-md-8 col-xs-12 no-pad">
              <div class="col-sm-1 col-xs-1" style="font-size: 25px; padding: 20px 0 0 60px;">
                  <span class="glyphicon glyphicon-map-marker"></span>
                </div>
              <%= form_for @tab, method: :get, remote:true, id: "filterForm" do |f| %>  
                <%= render partial: "events/event_filter", locals: {f: f} %>
              <% end %>
              <div class="row" id="tab-content-result">
                <%= render partial: "event_result_title", locals: { events: @events } %>
              </div><!-- row -->
            </div>  <!-- explore_grid -->
            <div class="tab-content" id="tab-content">
              <%= render partial: "map", locals: {events: @events} %>
            </div><!-- tab-content -->
          </div><!-- tabs -->
          <div class="col-xs-12">
            <div class="col-md-10 col-md-offset-1 col-xs-12">
              <nav class="site-navigation paging-navigation navbar" style="z-index: 10 !important">
                <div class="row">
                  <div class="col-md-4 col-md-offset-4 center">
                    <%#= will_paginate @events %>
                  </div>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
      <% if params[:browse] %>
        <div class="col-md-1"></div>
        <div class="col-md-10">
          <%= render 'shared/page_title', title: "Our organizers" %>
          <%= render partial: "users/index", locals: {users: @users} %>       
          <%= render partial: "events/categories", locals: {categories: @categories} %>
        </div>
        <div class="col-md-1"></div>
      <% end %>
    </div><!-- end Page Content -->
  </div>
<style>
.slider-kit .col-xs-4
{
  width:16.5% !important;
}

.col-lg-offset-4 {
    margin-left:0 !important;
}
.col-lg-4 {
    width: 100%;
    padding:10px;
}
.glf-icon
{
  padding:0px 15px !important;
}

.owl-theme .owl-controls {
    background: white none repeat scroll 0 0;
    margin-top: -25px;
    text-align: center;
    z-index: 9999999;
}
#page-content-search .container .wide_container_2 .tabs {
  display: block !important;
  }

.placeSearch
{
  width:100%!important;
  height: 70px !important ;
}
#pac-input
{
  z-index: 999999999999999999999 !important;
}
.btn-group {
    margin: 15px !important;
    padding: 15px !important;
}
label
{
   padding: 10px 30px !important;
   margin: 20px 10px !important;
   width: 100% !important;
}
.select2 
  {
    width: 100% !important;
  }

  .wide-2 .btn {
      padding: 10px 45px !important;
      width: auto !important;
      margin: 60px 12px 30px !important;
  }
  #locationFilter label {
    margin: 0 !important;
    padding: 10px 30px !important;
    width: 340px !important;
}
#page-content-search .container .wide_container_2 header .options-overlay .form-control {
    border: 3px solid #35526f !important;
    border-radius: 20px !important;
    margin: 15px 0 0 !important;
    padding: 5px 22px !important;
}

</style>

<script type="text/javascript">
  function tabRequest(id){
    $.ajax({
      type:'GET',
      url: '/events/tabs',
      dataType: 'script',
      data: $.param({ tab: id})
    });
  };

</script>
<script>
  $(function() {
    $("#start_date").datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
     $("#end_date").datetimepicker({
        format: 'YYYY-MM-DD HH:mm:ss'
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){
    $('#mapView').click();
  });
</script>