  <!-- Preloader -->
  <div id="page-preloader">
    <div class="loader-ring"></div>
    <div class="loader-ring2"></div>
  </div>
  <!-- End Preloader -->  
  <!-- Wrapper -->
  <div class="wrapper">
		<!-- Page Content -->
		<div id="page-property-content">
		  <div class="wide_container_3 carousel-full-width">
		    <div class="tabs">
          <div class="tab-content" id="tab-content_up">
            <%= render partial: "slider", locals: { event: @event} %>
          </div>
          <ul class="tab-links col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
            <li class="active col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel");$("#right-carosusel").attr("href", "#myCarousel");tabRequest(4, <%= @event.id %>);'><span style="" class="glyphicon glyphicon-camera glf-icon"></span>Photos</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href","#myCarousel1");$("#right-carosusel").attr("href", "#myCarousel1");tabRequest(5);' ><span class="glyphicon glyphicon-facetime-video glf-icon"></span>Videos</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" class="map4" onclick='$("#left-carosusel").attr("href", "#myCarousel2");$("#right-carosusel").attr("href", "#myCarousel2");tabRequest(6);'><span class="glyphicon glyphicon-map-marker glf-icon"></span>Maps</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel3");$("#right-carosusel").attr("href", "#myCarousel3");tabRequest(7);' ><span class="glyphicon glyphicon-road glf-icon"></span>Street Views</a></li>
          </ul>
        </div>
		  </div>
		  <div class="wide-2">
		    <div class="container">
		      <div class="row">
		        <aside class="pr-summary col-md-4 col-xs-12">
          		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 hl-bl">
	              <h2>$<%= @event.payMode("amount") rescue "Something Wrong" %></h2>
	              <h5 style="font-size:25px;" class="team-color"><%= @event.payMode("string") rescue "Something Wrong" %></h5>
	            </div>
	            <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#TcktmyModal">Get Tickets</button>
	            <br>
	            <br>
            	<div class="row">
            		<%= render partial: "interests/form", locals: {object: @event} %>
            	</div>
            	<br>
	            <!-- <div class="col-lg-5 col-md-6 col-sm-3 col-xs-6 hl-bl">
	              <i class="glyphicon glyphicon-star"></i>
	              <i class="glyphicon glyphicon-star"></i>
	              <i class="glyphicon glyphicon-star"></i>
	              <i class="glyphicon glyphicon-star"></i>
	              <i class="glyphicon glyphicon-star"></i><br>
	              <div class="row">
	                <p class="team-color col-md-6 col-xs-3">Rating:</p>
	                <p class="team-color col-md-6 col-xs-3"><strong>5.0</strong>/5.0</p>
	              </div>
	            </div> -->
	            <div class="row">
	              <div class="col-md-12 col-sm-6 col-xs-12">
	                <div class="row">
	                  <div class="col-lg-12 col-md-12 col-xs-12 cat-img">
	                    <p><span class="glyphicon glyphicon-calendar glf-icon"></span><%= @event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %></p>
	                  <hr>
	                  </div>
	                  <div class="col-lg-12 col-md-12 col-xs-12 cat-img cat-img">
	                    <p ><span class="glyphicon glyphicon-calendar glf-icon"></span><%= @event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %></p>
	                  </div>
	                </div>
	                <hr>
	                <div class="row">
	                  <div class="col-xs-12">
	                    <div class="row">
	                      <div class="col-lg-5 col-md-6 col-xs-6 cat-img">
	                        <img src="http://themes.fruitfulcode.com/suburb/assets/img/square.png" alt="">
	                        <p class="info_line"><%= @event.distance_from([latlong[:lat],latlong[:long]]).round(2) rescue 0%> Km<span class="rank"></span></p>
	                      </div>
	                      <div class="col-lg-7 col-md-6 col-xs-6 cat-img">
	                        <img src="http://themes.fruitfulcode.com/suburb/assets/img/garage.png" alt="">
	                        <p class="info_line"><%= @event.tickets.count rescue 0 %>&nbsp Tickets </p>
	                      </div>
	                    </div>
	                    <div class="row">
	                      <div class="col-xs-12">
	                        <div class="col-lg-5 col-md-6 col-xs-6 line"></div>
	                        <div class="col-lg-5 col-md-6 col-xs-6 line"></div>
	                      </div>
	                    </div>
	                  </div>
	                </div>
	                <hr class="full-width">
	              </div>
	            </div>
	            <div class="picker-block col-md-12 col-sm-6 col-xs-12">
<!-- 		              <div class="row">
	                <h3 class="chek">Сheck availability</h3>
	                <div class="col-xs-6 rgt-bord">
	                  <div class="form-group">
	                    <input id="date-from" placeholder="From" readonly="">
	                    <span class="point"></span>
	                  </div>
	                </div>
	                <div class="col-xs-6">
	                  <div class="form-group">
	                    <input id="date-to" placeholder="To" readonly="">
	                    <span class="point"></span>
	                  </div>
	                </div>
	              </div> -->
	              <div class="row">
	                <div class=" col-xs-12" style="text-align: center">
	                  <!-- <div class="circle"> -->
	                    <%= link_to (image_tag (@event.user.image), class: "gravatar", width: "100", height: "100"), user_path(@event.user) rescue nil%>
	                    <h3><%= @event.user.try(:name) %></h3>
	                  <!-- </div> -->
	                  <div class="team-info">
	                  </div>
	                </div>
	              </div>
	            </div>
	            <div class="row">
	              <div class="col-md-12 col-sm-6 col-xs-12">
	                <span class="ffs-bs">
	                  <a href="javascript:void(0)" class="btn btn-info btn-lg ticket_action" data-toggle="modal" data-target="#myModal">Contact The <br> Organizer</a>
	                  <br>
	                  <a href="/users" class="btn btn-success btn-lg ticket_action">View <br> Organizer Page</a>
	                	<br>
	                	<%= render partial: "users/contact_orgnizer", locals: {ticket: @event.tickets.first} %>
	                </span>
	              
	                <span class="icon icon-add-user"></span><span class="btn btn-info">Total Events (<%= @event.user.events.active.count rescue 0 %>)</span> 
	                <div class="panel-body text-center followPanel">
			              <% if user_signed_in?  %>
			                <div id="follow_form_<%= @event.user.try(:id) %>">
			                  <% if current_user.following?(@event.user) %>
			                    <%= render 'users/unfollow', x: @event.user %>
			                  <% else %>
			                    <%= render 'users/follow', x: @event.user %>
			                  <% end %>
			                </div>
			              <% end %>
			            </div>
	                <div class="col-xs-12 fav-block" style="text-align: center">
	                  <% if current_user.present? %>
	                  <!-- <div class="bookmark col-xs-6"> -->
	                     <a href="<%=add_wishlist_event_path(@event.id) %>" data-remote="true" ><span class="glyphicon glf-icon <%= @event.wish_list_class(current_user.try(:id)) %>" id="wish_list_<%= @event.id %>" style="font-size:20px;font-weight:bold" title="Save" ></span> <b>Favorite</b></a>
	                  <!-- </div> -->
	                  <% end %>
	                  <!-- <div class="compare col-xs-6" data-compare-state="empty"> -->
	                    <a data-toggle="modal" data-target="#myModal_<%= @event.id %>"><span class="glyphicon glyphicon-share glf-icon" style="font-size:20px;font-weight:bold" title="Share"></span><b>Share</b></a>
	                  <!-- </div> -->
	                  <%= render partial: "share", locals: { event: @event } %>
	                </div>
	              </div>
	            </div>

		        </aside>
		        
		        <div class="pr-info col-md-8 col-xs-12">
		          <h2 style="padding:20px; font-weight:bold"><%= @event.name.try(:titleize) %></h2>
		          <div class="map-marker"></div>
		          <h5 class="team-color"><%= @event.address %></h5>
		          <p><%= @event.description.try(:html_safe) %></p>
		        </div>
		        <% if @event.categories.present? %>
			        <div class="pr-info col-md-8 col-xs-12">
			          <h3>Tags:</h3>
			          <section class="block">
			            <ul class="submit-features">
			              <% @event.categories.each do |cat| %>
			              	<li class="col-md-4 col-xs-4"><div ><span class="glyphicon glyphicon-tag glf-icon"></span><%= cat.name %></div></li>
			            	<% end %>
			            </ul>
			          </section>
			        </div>
			        <hr>
		        <% end %>
		    </div>
		  </div>
		  <div class="container">
			  <div class="modal fade" id="TcktmyModal" role="dialog">
			    <div class="modal-dialog modal-lg">
			      <div class="modal-content">
			        <div class="modal-header">
			          <button type="button" class="close" data-dismiss="modal">&times;</button>
			          <h4 class="modal-title"><%= current_user.present? ? @event.name.try(:titleize) : "You Are not a Loged IN User" %></h4>
			        </div>
			        <div class="wide_container_3">
					      <div class="row">
					        <div class="col-md-10 col-md-offset-1">
						       	<% if current_user.present? %>
						        	<%= render partial: "tickets", locals: { tickets: @event.tickets} %>
						      	<% else %>
						      		Opps You are not Logged in yet! please Login To get the Tickets
						      	<% end %>
						      </div>
					      </div>
					  	</div>
			        <div class="modal-footer">
			          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        </div>
			      </div>
			    </div>
			  </div>
			</div>
		  <div class="wide_container_3" style=" margin-top: 40px;">
		      <div class="row">
		        <div class="col-md-10 col-md-offset-1">
			        <%= render partial: "schedules", locals: { schedules: @event.schedules} %>
			      </div>
		      </div>
		  </div>
		</div>
	</div>



		<style>
			.col-xs-4 {
    		width: 24.333%;
			}
			.col-lg-offset-4 {
			    margin-left:0 !important;
			}
			.col-lg-4 {
			    width: 100%;
			    padding:10px;
			}
			.glf-icon
			{
			  padding:0px 15px !important;
			}
			.owl-theme .owl-controls {
			    background: white none repeat scroll 0 0!important;
			    margin-top: -25px !important;
			    text-align: center !important;
			    z-index: 9999999 !important;
			}
			h2{
				text-align: left !important;
			}
			#page-property-content .wide-2 .block li::before {
				content: none;
			}
			.bookmark::before, .compare::before{
    		content: none !important;
  		}
  		.text-center {
    	height: auto !important;
    
		}
		.btn-lg, .btn-large {
    height: auto !important;
    width: auto !important;
		}
		</style>


<script type="text/javascript">
  function tabRequest(id){
    $.ajax({
      type:'GET',
      url: '/events/tabs',
      dataType: 'script',
      data: $.param({ tab: id, single: true, event_id: <%= @event.id %>})
    });
  };
</script>