  <!-- Preloader -->
  <div id="page-preloader">
    <div class="loader-ring"></div>
    <div class="loader-ring2"></div>
  </div>
  <!-- End Preloader -->  
  <!-- Wrapper -->
  <div class="wrapper">
		<!-- Page Content -->
		<div id="page-property-content">
		  <div class="wide_container_3 carousel-full-width">
		    <div class="tabs">
          <div class="tab-content" id="tab-content_up">
            <%= render partial: "slider", locals: { event: @event} %>
          </div>
          <ul class="tab-links col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3">
            <li class="active col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel");$("#right-carosusel").attr("href", "#myCarousel");tabRequest(4, <%= @event.id %>);'><span style="" class="glyphicon glyphicon-camera glf-icon"></span>Photos</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href","#myCarousel1");$("#right-carosusel").attr("href", "#myCarousel1");tabRequest(5);' ><span class="glyphicon glyphicon-facetime-video glf-icon"></span>Videos</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" class="map4" onclick='$("#left-carosusel").attr("href", "#myCarousel2");$("#right-carosusel").attr("href", "#myCarousel2");tabRequest(6);'><span class="glyphicon glyphicon-map-marker glf-icon"></span>Maps</a></li>
            <li class="col-xs-4 event-index-tab"><a href="javascript:void(0)" onclick='$("#left-carosusel").attr("href", "#myCarousel3");$("#right-carosusel").attr("href", "#myCarousel3");tabRequest(7);' ><span class="glyphicon glyphicon-road glf-icon"></span>Street Views</a></li>
          </ul>
        </div>
		  </div>
		  <div class="wide-2">
		    <div class="container">
		      <div class="row">
		        <aside class="pr-summary col-md-4 col-xs-12">
		          <form action="agent_profile.html">
		            <div class="col-lg-7 col-md-6 col-sm-3 col-xs-6 hl-bl">
		              <h2>$<%= @event.payMode("amount") rescue "Something Wrong" %></h2>
		              <h5 style="font-size:25px;" class="team-color"><%= @event.payMode("string") rescue "Something Wrong" %></h5>
		            </div>
		            <div class="col-lg-5 col-md-6 col-sm-3 col-xs-6 hl-bl">
		              <i class="glyphicon glyphicon-star"></i>
		              <i class="glyphicon glyphicon-star"></i>
		              <i class="glyphicon glyphicon-star"></i>
		              <i class="glyphicon glyphicon-star"></i>
		              <i class="glyphicon glyphicon-star"></i><br>
		              <div class="row">
		                <p class="team-color col-md-6 col-xs-3">Rating:</p>
		                <p class="team-color col-md-6 col-xs-3"><strong>5.0</strong>/5.0</p>
		              </div>
		            </div>
		            <div class="row">
		              <div class="col-md-12 col-sm-6 col-xs-12">
		                <div class="row">
		                  <div class="col-lg-12 col-md-12 col-xs-12 cat-img">
		                    
		                    <p><span class="glyphicon glyphicon-calendar glf-icon"></span><%= @event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %></p>
		                  <hr>
		                  </div>
		                  <div class="col-lg-12 col-md-12 col-xs-12 cat-img cat-img">
		                    <p ><span class="glyphicon glyphicon-calendar glf-icon"></span><%= @event.start_time.strftime('%A, %B %d, %Y at %I:%M %p') rescue Time.now.strftime('%A, %B %d, %Y at %I:%M %p') %></p>
		                  </div>
		                </div>
		                <hr>
		                <div class="row">
		                  <div class="col-xs-12">
		                    <div class="row">
		                      <div class="col-lg-5 col-md-6 col-xs-6 cat-img">
		                        <img src="http://themes.fruitfulcode.com/suburb/assets/img/square.png" alt="">
		                        <p class="info_line"><%= @event.distance_from([latlong[:lat],latlong[:long]]).round(2) rescue 0%> Km<span class="rank"></span></p>
		                      </div>
		                      <div class="col-lg-7 col-md-6 col-xs-6 cat-img">
		                        <img src="http://themes.fruitfulcode.com/suburb/assets/img/garage.png" alt="">
		                        <p class="info_line">1 Garage</p>
		                      </div>
		                    </div>
		                    <div class="row">
		                      <div class="col-xs-12">
		                        <div class="col-lg-5 col-md-6 col-xs-6 line"></div>
		                        <div class="col-lg-5 col-md-6 col-xs-6 line"></div>
		                      </div>
		                    </div>
		                  </div>
		                </div>
		                <hr class="full-width">
		              </div>
		            </div>
		            <div class="picker-block col-md-12 col-sm-6 col-xs-12">
<!-- 		              <div class="row">
		                <h3 class="chek">Сheck availability</h3>
		                <div class="col-xs-6 rgt-bord">
		                  <div class="form-group">
		                    <input id="date-from" placeholder="From" readonly="">
		                    <span class="point"></span>
		                  </div>
		                </div>
		                <div class="col-xs-6">
		                  <div class="form-group">
		                    <input id="date-to" placeholder="To" readonly="">
		                    <span class="point"></span>
		                  </div>
		                </div>
		              </div> -->
		              <div class="row">
		                <div class=" col-xs-12" style="text-align: center">
		                  <!-- <div class="circle"> -->
		                    <%= link_to (image_tag (@event.user.image), class: "gravatar", width: "100", height: "100"), user_path(@event.user) rescue nil%>
		                    <h3><%= @event.user.try(:name) %></h3>
		                  <!-- </div> -->
		                  <div class="team-info">
		                  </div>
		                </div>
		              </div>
		            </div>
		            <div class="row">
		              <div class="col-md-12 col-sm-6 col-xs-12">
		                <span class="ffs-bs">
		                  <button type="submit" class="btn btn-large btn-primary">contact organizer</button>
		                </span>
		                <div class="col-xs-12 fav-block">
		                  <div class="bookmark col-xs-6">
		                     <a href="<%=add_wishlist_event_path(@event.id) %>" data-remote="true" ><span class="glyphicon glf-icon <%= @event.wish_list_class(current_user.id) %>" id="wish_list_<%= @event.id %>" style="font-size:20px;font-weight:bold" title="Save" ></span> <b>Favorite</b></a>
		                  </div>
		                  <div class="compare col-xs-6" data-compare-state="empty">
		                    <a data-toggle="modal" data-target="#myModal_<%= @event.id %>"><span class="glyphicon glyphicon-share glf-icon" style="font-size:20px;font-weight:bold" title="Share"></span><b>Sharae</b></a>
		                  </div>
		                  <%= render partial: "share", locals: { event: @event } %>
		                </div>
		              </div>
		            </div>
		          </form>
		        </aside>
		        
		        <div class="pr-info col-md-8 col-xs-12">
		          <h2 style="padding:20px; font-weight:bold"><%= @event.name.try(:titleize) %></h2>
		          <div class="map-marker"></div>
		          <h5 class="team-color"><%= @event.address %></h5>
		          <p><%= @event.description %></p>
		        </div>
		        <div class="pr-info col-md-8 col-xs-12">
		          <h3>Tags:</h3>
		          <section class="block">
		            <ul class="submit-features">
		              <% if @event.categories.present? %>
			              <% @event.categories.each do |cat| %>
			              	<li class="col-md-4 col-xs-4"><div ><span class="glyphicon glyphicon-tag glf-icon"></span><%= cat.name %></div></li>
			            	<% end %>
			            <% else %>
			            	<h2>No Tags Available</h2>
			            <% end %>	
		            </ul>
		          </section>
		        </div>
		        <hr>
		        <div class="pr-info col-md-8 col-xs-12">
		          <h3>Event Photos:</h3>
		          <div class="row cust-row">
		            <% @event.pictures.first(4).each_with_index do |ep, index| %>
			            
			            <div class="col-xs-3 cust-pad">
			              <div class="pr-img" style="background-image: url(<%= ep.image.url %>);"></div>
			              <% if index == 3 %>
				              <!-- <span class="filter"></span> -->
			                <label class="img-label" for="op">+<%= (@event.pictures.count) - (4) %> More</label>
		                <% end %>
			            </div>
		            <% end %>
		            <!-- <div class="col-xs-3 cust-pad">
		              <div class="pr-img" style="background-image: url(http://themes.fruitfulcode.com/suburb/assets/img/property_page_slider_2.jpg);"></div>
		            </div>
		            <div class="col-xs-3 cust-pad">
		              <div class="pr-img" style="background-image: url(http://themes.fruitfulcode.com/suburb/assets/img/property_page_slider_1.jpg);"></div>
		            </div> -->
		            <!-- <div class="col-xs-3 cust-pad">
		              <div class="pr-img" style="background-image: url(http://themes.fruitfulcode.com/suburb/assets/img/property_page_slider_3.jpg);">
		                <span class="filter"></span>
		                <label class="img-label" for="op">+32 More</label>
		              </div>
		            </div>
		          </div> -->
		          <div class="row">
		            <div class="col-xs-12">
		              <h3>Video Presentation:</h3>
		              <% if @event.videos.present? %>

		              	<p><iframe src="<%= @event.videos.order("RANDOM()").first.video_url %>"></iframe></p>
		              <% else %>
		              	<p><iframe src="https://www.youtube.com/embed/XGSy3_Czz8k"></iframe></p>	
	              	<% end %>
		              <hr>
		              <div class="row">
		                <section class="social-block col-sm-6 col-xs-12">
		                  <ul class="social">
		                    <li class="social-text">SHARE:</li>
		                    <li><a class="facebook" href="https://www.facebook.com" target="blank"><i class="fa fa-facebook"></i></a></li>
		                    <li><a class="twitter" href="https://twitter.com" target="blank"><i class="fa fa-twitter"></i></a></li>
		                    <li><a class="google" href="https://www.google.com" target="blank"><i class="fa fa-google-plus"></i></a></li>
		                    <li><a class="pinterest" href="https://www.pinterest.com" target="blank"><i class="fa fa-pinterest"></i></a></li>
		                  </ul>
		                </section>
		                <p class="error-block col-sm-6 col-xs-12 pull-right"><a href="#" data-toggle="modal" data-target="#modal-error"><i class="fa fa-exclamation-triangle"></i>Report About Error</a></p>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		  <div class="wide_container_3">
		    <div class="container">
		      <div class="row">
		        <div class="col-md-8 col-xs-12">
		          <header><h4>3 Feedback</h4></header>
		          <div class="hl-bl col-xs-12">
		            <i class="fa fa-star"></i>
		            <i class="fa fa-star"></i>
		            <i class="fa fa-star"></i>
		            <i class="fa fa-star"></i>
		            <i class="fa fa-star"></i>
		            <p class="team-color"><span class="bold_text">5.0</span>/5.0</p>
		          </div>
		          <ul class="comments">
		            <li class="comment">
		              <div class="comment-wrapper">
		                <div class="name pull-left">Michael Salmon</div>
		                <span class="date-block team-color">4 days ago</span>
		                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
		                </p>
		              </div>
		            </li>
		            <li class="comment">
		              <div class="comment-wrapper">
		                <div class="name pull-left">Michael Salmon</div>
		                <span class="date-block team-color">4 days ago</span>
		                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
		                </p>
		              </div>
		            </li>
		          </ul>
		          <div class="comments-more">
		            <a href="#">Show More</a>
		          </div>
		          <span class="ffs-bs transparent">
		            <button type="submit" id="show-reply-form" class="btn btn-default btn-large"><i class="fa fa-star-o"></i><span class="btn-text">leave review</span></button>
		          </span>
		          <section id="leave-reply">
		            <header><h4>Leave Review</h4></header>
		            <div class="clearfix">
		              <aside>
		                <div class="rating rating-user">
		                  <div class="inner"></div>
		                </div>
		              </aside>
		            </div>
		            <div class="row">
		              <form id="form-single-property-reply" method="post">
		                <div class="col-sm-6 col-xs-12">
		                  <input type="text" class="form-control" id="form-blog-reply-name" name="form-blog-reply-name" placeholder="Your Name" required>
		                </div><!-- /.form-group -->
		                <div class="col-sm-6 col-xs-12">
		                  <input type="email" class="form-control" id="form-blog-reply-email" name="form-blog-reply-email" placeholder="Your Email" required>
		                </div><!-- /.form-group -->
		                <div class="col-xs-12">
		                  <textarea class="form-control" id="form-blog-reply-message" rows="5" name="form-blog-reply-message" placeholder="Write Your Text..."></textarea>
		                </div><!-- /.form-group -->
		                <div class="col-xs-12 btm-indent">
		                  <button type="submit" class="btn pull-right btn-small btn-primary" id="form-blog-reply-submit">Send</button>
		                </div><!-- /.form-group -->
		                <div id="form-rating-status"></div>
		              </form><!-- /#form-contact -->
		            </div>
		          </section>
		        </div>
		        <div class="col-md-4 col-xs-12 some-prp">
		          <h4>Here is some Similar property:</h4>
		          <p class="team-color">in London, UK</p>
		          <hr>
		          <div class="property-block-small">
		            <a href="property_page.html">
		              <div class="property-image-small" style="background-image: url(http://themes.fruitfulcode.com/suburb/assets/img/5388048563_61c3bd3306_z.jpg);"></div>
		              <h3>37 Great Russell St</h3>
		              <p class="team-color">London, 37 Great Russell St Street Good</p>
		              <h4>$15,000/month</h4>
		            </a>
		          </div>
		          <hr>
		          <div class="property-block-small">
		            <a href="property_page.html">
		              <div class="property-image-small" style="background-image: url(http://themes.fruitfulcode.com/suburb/assets/img/5388048563_61c3bd3306_z.jpg);"></div>
		              <h3>37 Great Russell St</h3>
		              <p class="team-color">London, 37 Great Russell St Street Good</p>
		              <h4>$15,000/month</h4>
		            </a>
		          </div>
		          <hr>
		          <div class="property-block-small">
		            <a href="property_page.html">
		              <div class="property-image-small" style="background-image: url(http://themes.fruitfulcode.com/suburb/assets/img/5388048563_61c3bd3306_z.jpg);"></div>
		              <h3>37 Great Russell St</h3>
		              <p class="team-color">London, 37 Great Russell St Street Good</p>
		              <h4>$15,000/month</h4>
		            </a>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>



		<style>
			.col-xs-4 {
    		width: 24.333%;
			}
			.col-lg-offset-4 {
			    margin-left:0 !important;
			}
			.col-lg-4 {
			    width: 100%;
			    padding:10px;
			}
			.glf-icon
			{
			  padding:0px 15px !important;
			}
			.owl-theme .owl-controls {
			    background: white none repeat scroll 0 0!important;
			    margin-top: -25px !important;
			    text-align: center !important;
			    z-index: 9999999 !important;
			}
			h2{
				text-align: left !important;
			}
			#page-property-content .wide-2 .block li::before {
				content: none;
			}
			.bookmark::before, .compare::before{
    		content: none !important;
  		}
		</style>


<script type="text/javascript">
  function tabRequest(id){
    $.ajax({
      type:'GET',
      url: '/events/tabs',
      dataType: 'script',
      data: $.param({ tab: id, single: true, event_id: <%= @event.id %>})
    });
  };
</script>