<br>
<div id="interestedPanel">
	<% if current_user %>
		<%= form_for [object, object.interests.build], method: :post, remote: true do |f|  %>
			<%= f.hidden_field :interstable_type, value: object.class.name %>
			
			<div id="interestedForm">
				<div class="center "><b class="question"> Are You Going To attend this event </b></div>
				<br>
				<div class="btn-group" data-toggle="buttons">
				  
				  <label class="btn btn-primary">Interested
				    <%= f.radio_button :flag, true %>
				  </label>
				  <label class="btn btn-primary", onclick="$('#new_interest').submit();">
				   <%= f.radio_button :flag, "nil" %>May Be
				  </label>
				  <label class="btn btn-primary">
				    <%= f.radio_button :flag, false %>Not Interested
				  </label>
				</div>
			</div>
			<% if current_user.event_interests(object).present?  %>
				<br>
				<center><b><%= current_user.event_interests(object).first.try(:message) %></b></center>
				<center><a href= "javascript:void(0)" class="btn btn-info btn-lg btn-block" onclick="changeFrom();">Would you like to change</a></center>
			<% end %>
		<% end %>
	<% else %>
		Please login If you are Inetrested in this event
	<% end %>
	<br>		
	<div id ="interest_<%= object.id %>">
		<%= render partial: "interests/index", locals: {object: object} %>
	</div>
	<br>
	<script>
		$( "input[type='radio']" ).change(function() {
	  	$('#new_interest').submit();
		});
		<% if current_user.event_interests(object).present? %>
			$('#interestedForm').hide();
		<% end %>
		function changeFrom()
		{
			$('#interestedForm').show();
			$('.question').html('Chanege if You Think change')
		}
	</script>
</div>

