<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="b6KspSExufhe85f_1xbprHpeaZwSBXNvsUcfjRmWXIw" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if (params[:controller] == "users" && (params[:action]=="tickets_history")) %>
  <link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/production/base_styles.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/src/smacss/non_modular/global_header.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/production/responsive_mytickets.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/src/smacss/non_modular/user_profile.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/src/smacss/non_modular/mytickets_responsive.css" />
  <% end %>
  <script src="//cdn.jsdelivr.net/alertifyjs/1.7.1/alertify.min.js"></script>

	<!-- CSS -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.7.1/css/alertify.min.css"/>
	<!-- Default theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.7.1/css/themes/default.min.css"/>
	<!-- Semantic UI theme -->
	<link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.7.1/css/themes/semantic.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/css/formValidation.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/formValidation.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/formvalidation/0.6.1/js/framework/bootstrap.min.js"></script> 
	<!-- Bootstrap theme -->
  

</head>
<div class="ajax-loading">
  <span>
    <p id="please_wait"><strong>Please wait..</strong></p>
    <p><i class="glyphicon glyphicon-refresh gly-spin" aria-hidden="true">       </i></p>
  </span>
</div>
<body>  
<%= render 'layouts/navigation' %>
<br>
<!--navigation-->
<%= render 'layouts/messages' %>
<%= yield %>

<!--footer -->
<%= render 'layouts/footer' %>

</body>
</html>
