<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="b6KspSExufhe85f_1xbprHpeaZwSBXNvsUcfjRmWXIw" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/production/base_styles.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/src/smacss/non_modular/global_header.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/production/responsive_mytickets.css" />
	<link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/src/smacss/non_modular/user_profile.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.evbstatic.com/s3-build/16702-rc2016-07-04_12.04-f38382e/django/css/src/smacss/non_modular/mytickets_responsive.css" />

  

</head>
<body>  
<%= render 'layouts/navigation' %>
<br>
<!--navigation-->
<%= render 'layouts/messages' %>
<%= yield %>

<!--footer -->
<%= render 'layouts/footer' %>

</body>
</html>
